@font-face {
  font-family: "Helvetica Neue LT Std";
  src: url("../fonts/HelveticaNeueLTStd-Roman.eot");
  src: url("../fonts/HelveticaNeueLTStd-Roman.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-Roman.woff2") format("woff2"), url("../fonts/HelveticaNeueLTStd-Roman.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-Roman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue LT Std HvCn";
  src: url("../fonts/HelveticaNeueLTStd-HvCn.eot");
  src: url("../fonts/HelveticaNeueLTStd-HvCn.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-HvCn.woff2") format("woff2"), url("../fonts/HelveticaNeueLTStd-HvCn.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-HvCn.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue LT Std Cn";
  src: url("../fonts/HelveticaNeueLTStd-Cn.eot");
  src: url("../fonts/HelveticaNeueLTStd-Cn.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-Cn.woff2") format("woff2"), url("../fonts/HelveticaNeueLTStd-Cn.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-Cn.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue LT Std MdCn";
  src: url("../fonts/HelveticaNeueLTStd-MdCn.eot");
  src: url("../fonts/HelveticaNeueLTStd-MdCn.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-MdCn.woff2") format("woff2"), url("../fonts/HelveticaNeueLTStd-MdCn.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-MdCn.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue LT Std LtCn";
  src: url("../fonts/HelveticaNeueLTStd-LtCn.eot");
  src: url("../fonts/HelveticaNeueLTStd-LtCn.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-LtCn.woff2") format("woff2"), url("../fonts/HelveticaNeueLTStd-LtCn.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-LtCn.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue LT Std BlkCn";
  src: url("../fonts/HelveticaNeueLTStd-BlkCn.eot");
  src: url("../fonts/HelveticaNeueLTStd-BlkCn.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-BlkCn.woff2") format("woff2"), url("../fonts/HelveticaNeueLTStd-BlkCn.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-BlkCn.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue LT Std BdCn";
  src: url("../fonts/HelveticaNeueLTStd-BdCn.eot");
  src: url("../fonts/HelveticaNeueLTStd-BdCn.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-BdCn.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-BdCn.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue LT Std Bd";
  src: url("../fonts/HelveticaNeueLTStd-Bd.eot");
  src: url("../fonts/HelveticaNeueLTStd-Bd.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-Bd.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-Bd.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
div,
p {
  margin: 0;
}

.contenedor-tab1movil {
  display: none;
}

.contenedor-s3-movil {
  display: none;
}

.contenedor-contenido-tabs-tab1-movil {
  display: none;
}

.contenedor-principal {
  padding: 100px 80px 65px 80px;
  margin: 0 auto;
  max-width: 1280px;
}

.p1-s1 {
  font-family: "Helvetica Neue LT Std BlkCn";
  font-size: 70px;
}

.p2-s1 {
  font-family: "Helvetica Neue LT Std";
  font-size: 21.8px;
  padding-top: 5px;
  color: #333333;
}

.contenedor-s2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  padding-top: 25px;
}

.tab-s2 {
  border: solid #a6a6a6 1px;
  border-radius: 2px;
  width: 100%;
  height: 363px;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  position: relative;
  -webkit-transition: none;
  transition: none;
}

.tab-s2:hover {
  background-color: #f96302;
  border: solid #f96302 1px;
}
.tab-s2:hover .p1-s2 {
  color: white;
}

.tab-s2.active {
  background-color: #f96302;
  border: solid #f96302 1px;
}
.tab-s2.active .p1-s2 {
  color: white;
}

.p1-s2 {
  font-family: "Helvetica Neue LT Std BlkCn";
  color: #a6a6a6;
  font-size: 36px;
  padding-left: 50px;
}

.plus {
  display: block;
  position: absolute;
  width: 20px;
  top: 320px;
  bottom: 0;
  right: 20px;
}

.tab-s2:hover .plus {
  display: none;
}

.tab-s2.active .plus {
  display: none;
}

.pico {
  display: none;
  position: absolute;
  width: 160px;
  top: 400px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.tab-s2.active .pico {
  display: block;
}

.contenedor-s3 {
  padding-top: 200px;
}

.p1-tab1 {
  font-size: 40px;
  font-family: "Helvetica Neue LT Std BlkCn";
  padding-bottom: 20px;
}
.p1-tab1 span {
  color: #f96302;
}

.p2-tab1 {
  font-size: 21.8px;
}

.tabs-tab1 {
  border: solid #a6a6a6 1px;
  border-radius: 2px;
  width: 100%;
  height: 363px;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  position: relative;
  -webkit-transition: none;
  transition: none;
  text-decoration: none;
}

.tabs-tab1:hover {
  background-color: #f96302;
  border: solid #f96302 1px;
}
.tabs-tab1:hover .p3-tab1 {
  color: white;
}

.tabs-tab1.active {
  background-color: #f96302;
  border: solid #f96302 1px;
}
.tabs-tab1.active .p3-tab1 {
  color: white;
}

.plus-tab1 {
  display: block;
  position: absolute;
  width: 20px;
  top: 320px;
  bottom: 0;
  right: 20px;
}

.tabs-tab1:hover .plus-tab1 {
  display: none;
}

.tabs-tab1.active .plus-tab1 {
  display: none;
}

.pico-tab1 {
  display: none;
  position: absolute;
  width: 160px;
  top: 400px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.tabs-tab1.active .pico-tab1 {
  display: block;
}

.contenedor-tabs-tab1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  padding-top: 25px;
  padding-bottom: 200px;
}

.p3-tab1 {
  font-family: "Helvetica Neue LT Std BlkCn";
  color: #a6a6a6;
  font-size: 25px;
  padding-left: 50px;
}

.contenedor-contenido-tabs-tab1 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.titulo-tab1-tab1 {
  font-family: "Helvetica Neue LT Std BlkCn";
  font-size: 40px;
  padding-bottom: 20px;
}

.descripcion-tab1-tab1 {
  color: #333333;
  font-size: 21.8px;
}

.contenido-tab1-tab1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.subcontenido-tab1-tab1 {
  border: solid #a6a6a6 1px;
  width: 22.8%;
  height: 150px;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subcontenido-tab1-tab1:hover {
  background-color: #f96302;
}
.subcontenido-tab1-tab1:hover .titulo-contenido-tab1-tab1 {
  display: none;
}
.subcontenido-tab1-tab1:hover .descripcion-contenido-tab1-tab1 {
  display: block;
  text-align: center;
  margin: 0 auto;
  width: 80%;
}

.titulo-contenido-tab1-tab1 {
  font-family: "Helvetica Neue LT Std BlkCn";
  color: #a6a6a6;
  padding-top: 10px;
  font-size: 30px;
}

.descripcion-contenido-tab1-tab1 {
  display: none;
  color: white;
}

.p1-tab2 {
  font-family: "Helvetica Neue LT Std BlkCn";
  color: #a6a6a6;
}

.tab-tab2 {
  border: solid #a6a6a6 1px;
  border-radius: 2px;
  width: 15.67%;
  height: 178px;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  position: relative;
  -webkit-transition: none;
  transition: none;
  margin-top: 60px;
}

.tab-tab2:hover {
  background-color: #f96302;
  border: solid #f96302 1px;
}
.tab-tab2:hover .p1-tab2 {
  color: white;
}

.tab-tab2.active {
  background-color: #f96302;
  border: solid #f96302 1px;
}
.tab-tab2.active .p1-tab2 {
  color: white;
}

.subcontenedor-tab2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  margin-bottom: 100px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.titulo-tab2 {
  font-family: "Helvetica Neue LT Std BlkCn";
  font-size: 40px;
  padding-bottom: 30px;
}

.plus-tab2 {
  display: block;
  position: absolute;
  width: 15px;
  top: 150px;
  bottom: 0;
  right: 15px;
}

.tab-tab2:hover .plus-tab2 {
  display: none;
}

.tab-tab2.active .plus-tab2 {
  display: none;
}

.pico-tab2 {
  display: none;
  position: absolute;
  width: 70px;
  top: 195px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.tab-tab2.active .pico-tab2 {
  display: block;
}

.p1-tab2 {
  padding-left: 15px;
  font-size: 17px;
}

.subcontenido-tab2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px;
}

.rectangulo-tab2 {
  background-color: #a6a6a6;
  width: calc(25% - 11.3px);
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.rectangulo-tab2:hover {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f96302;
}
.rectangulo-tab2:hover .img-rectangulo-tab2 {
  display: none;
}
.rectangulo-tab2:hover .descripcion-rectangulo-tab2 {
  display: block;
  text-align: center;
  margin: 0 auto;
  width: 90%;
  z-index: 15;
}
.rectangulo-tab2:hover .titulo-rectangulo-tab2 {
  padding-bottom: 0px;
  font-size: 20px;
  text-align: center;
  margin: 0 auto;
  width: 95%;
  z-index: 15;
}
.rectangulo-tab2:hover .img-hover-rectangulo-tab2 {
  display: block;
  position: absolute;
  width: 75px;
}

.img-rectangulo-tab2 {
  width: 40px;
}

.img-hover-rectangulo-tab2 {
  display: none;
}

.titulo-rectangulo-tab2 {
  font-family: "Helvetica Neue LT Std BlkCn";
  color: white;
  font-size: 18px;
  padding-bottom: 15px;
  padding-top: 15px;
  text-align: center;
}

.descripcion-rectangulo-tab2 {
  font-size: 14px;
  display: none;
  color: white;
}

.titulo-tab3 {
  font-family: "Helvetica Neue LT Std BlkCn";
  font-size: 40px;
  text-align: center;
}

.subtitulo-tab3 {
  font-size: 21.8px;
  margin: 0 auto;
  padding: 50px 0 25px 0;
  width: 640px;
  text-align: center;
  font-family: "Helvetica Neue LT Std";
}

.contenedor1-tab3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 780px;
  padding: 35px 0;
}

.contenedor2-tab3 {
  color: #272727;
  padding-left: 60px;
}

.contenedor-img-tab3 {
  min-width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.img-tab3 {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.p1-tab3 {
  font-family: "Helvetica Neue LT Std BlkCn";
  font-size: 40px;
  margin-bottom: 15px;
}

.p2-tab3 {
  font-family: "Helvetica Neue LT Std";
  font-size: 21.8px;
}

@media (max-width: 1150px) and (min-width: 901px) {
  .p1-s1 {
    font-size: 50px;
  }
  .p2-s1 {
    font-size: 18px;
  }
  .p1-s2 {
    font-size: 28px;
    padding-left: 30px;
  }
  .tab-s2 {
    height: 280px;
  }
  .plus {
    top: 240px;
  }
  .pico {
    top: 305px;
  }
  .tabs-tab1 {
    height: auto;
    aspect-ratio: 1/1;
  }
  .p3-tab1 {
    padding-left: 30px;
  }
  .plus-tab1 {
    top: 195px;
  }
  .pico-tab1 {
    width: 120px;
    top: 255px;
  }
  .contenedor-tabs-tab1 {
    padding-bottom: 150px;
  }
  .contenido-tab1-tab1 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .subcontenido-tab1-tab1 {
    width: 308px;
  }
  .subcontenedor-tab2 {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .titulo-tab2 {
    font-size: 35px;
  }
  .tab-tab2 {
    width: 25%;
  }
  .rectangulo-tab2 {
    width: calc(33.4% - 11.3px);
  }
  .contenedor1-tab3 {
    width: auto;
    max-width: 780px;
  }
  .titulo-tab3 {
    font-size: 35px;
  }
  .subtitulo-tab3 {
    font-size: 18px;
  }
  .p1-tab3 {
    font-size: 35px;
  }
  .p2-tab3 {
    font-size: 18px;
  }
}
@media (max-width: 900px) and (min-width: 501px) {
  .contenedor-contenido-tabs-tab1-movil {
    display: block;
  }
  .contenedor-contenido-tabs-tab1-movil .titulo-tab1-tab1 {
    padding-top: 80px;
  }
  .contenedor-s3-movil {
    display: block;
  }
  .contenedor-s3-movil .contenedor-tabs-tab1 {
    gap: 30px;
  }
  .contenedor-s3-movil .contenedor-s3 {
    padding-top: 0px;
  }
  .contenedor-s3-movil .p1-tab1 {
    padding-top: 80px;
  }
  .contenedor-s3-movil .titulo-tab2 {
    padding-top: 80px;
  }
  .contenedor-s3-movil .titulo-tab3 {
    padding-top: 120px;
  }
  .contenedor-s3-desktop {
    display: none;
  }
  .contenedor-principal {
    padding-top: 100px !important;
  }
  .p1-s1 {
    font-size: 50px;
  }
  .p2-s1 {
    font-size: 18px;
    padding-top: 30px;
    padding-bottom: 23px;
  }
  .contenedor-s2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 50px;
  }
  .plus {
    top: 280px;
  }
  .pico {
    top: 350px;
  }
  .p1-s2 {
    font-size: 33px;
    padding-left: 40px;
  }
  .tab-s2 {
    width: 320px;
    margin: 0 auto;
    height: 320px;
  }
  .p1-tab1 {
    font-size: 35px;
  }
  .p2-tab1 {
    font-size: 18px;
  }
  .tabs-tab1 {
    height: 322px;
    width: 322px;
    margin: 0 auto;
  }
  .p3-tab1 {
    padding-left: 30px;
  }
  .plus-tab1 {
    top: 275px;
  }
  .pico-tab1 {
    width: 120px;
    top: 350px;
  }
  .contenedor-tabs-tab1 {
    padding-bottom: 150px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 130px;
  }
  .contenido-tab1-tab1 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .subcontenido-tab1-tab1 {
    width: 308px;
  }
  .titulo-tab1-tab1 {
    font-size: 35px;
  }
  .descripcion-tab1-tab1 {
    font-size: 18px;
  }
  .p1-tab2 {
    padding-left: 10px;
  }
  .subcontenedor-tab2 {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .titulo-tab2 {
    font-size: 35px;
  }
  .tab-tab2 {
    width: 30%;
  }
  .rectangulo-tab2 {
    width: calc(50.5% - 11.3px);
  }
  .subcontenido-tab2 {
    padding-bottom: 100px;
  }
  .contenedor1-tab3 {
    width: auto;
    max-width: 780px;
  }
  .titulo-tab3 {
    font-size: 35px;
    padding-top: 150px;
  }
  .subtitulo-tab3 {
    font-size: 18px;
    width: auto;
    max-width: 640px;
  }
  .p1-tab3 {
    font-size: 35px;
  }
  .p2-tab3 {
    font-size: 18px;
  }
}
@media (max-width: 686px) {
  .contenedor-principal {
    margin: 0 auto;
    width: 90%;
    padding: 100px 0 40px 0;
  }
}
@media (max-width: 500px) and (min-width: 376px) {
  .contenedor-contenido-tabs-tab1-movil {
    display: block;
  }
  .contenedor-contenido-tabs-tab1-movil .titulo-tab1-tab1 {
    padding-top: 80px;
  }
  .contenedor-s3-movil {
    display: block;
  }
  .contenedor-s3-movil .contenedor-tabs-tab1 {
    gap: 30px;
  }
  .contenedor-s3-movil .contenedor-s3 {
    padding-top: 0px;
  }
  .contenedor-s3-movil .p1-tab1 {
    padding-top: 80px;
  }
  .contenedor-s3-movil .titulo-tab2 {
    padding-top: 80px;
  }
  .contenedor-s3-movil .titulo-tab3 {
    padding-top: 80px;
  }
  .contenedor-s3-desktop {
    display: none;
  }
  .p1-s1 {
    font-size: 40px;
  }
  .p2-s1 {
    font-size: 16px;
    padding: 30px 0px;
  }
  .contenedor-s2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0px;
    padding-top: 15px;
  }
  .plus {
    top: 280px;
  }
  .pico {
    top: 350px;
  }
  .p1-s2 {
    font-size: 33px;
    padding-left: 40px;
  }
  .tab-s2 {
    width: 320px;
    margin: 0 auto;
    height: 320px;
    margin-bottom: 30px;
  }
  .p1-tab1 {
    font-size: 35px;
  }
  .p2-tab1 {
    font-size: 18px;
  }
  .tabs-tab1 {
    height: 322px;
    width: 322px;
    margin: 0 auto;
  }
  .p3-tab1 {
    padding-left: 30px;
  }
  .plus-tab1 {
    top: 275px;
  }
  .pico-tab1 {
    width: 120px;
    top: 350px;
  }
  .contenedor-tabs-tab1 {
    padding-bottom: 150px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 130px;
  }
  .contenido-tab1-tab1 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .subcontenido-tab1-tab1 {
    width: 308px;
  }
  .titulo-tab1-tab1 {
    font-size: 35px;
  }
  .descripcion-tab1-tab1 {
    font-size: 18px;
  }
  .p1-tab2 {
    padding-left: 10px;
  }
  .subcontenedor-tab2 {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .titulo-tab2 {
    font-size: 35px;
  }
  .tab-tab2 {
    width: 47%;
  }
  .rectangulo-tab2 {
    width: 100%;
  }
  .subcontenido-tab2 {
    padding-bottom: 100px;
  }
  .contenedor1-tab3 {
    width: auto;
    max-width: 780px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 40px 0;
  }
  .contenedor2-tab3 {
    padding-left: 0px;
    text-align: center;
  }
  .titulo-tab3 {
    font-size: 35px;
    padding-top: 150px;
  }
  .subtitulo-tab3 {
    font-size: 18px;
    width: auto;
    max-width: 640px;
  }
  .p1-tab3 {
    font-size: 35px;
    margin-top: 35px;
  }
  .p2-tab3 {
    font-size: 18px;
  }
}
@media (max-width: 375px) {
  .contenedor-contenido-tabs-tab1-movil {
    display: block;
  }
  .contenedor-contenido-tabs-tab1-movil .titulo-tab1-tab1 {
    padding-top: 80px;
  }
  .contenedor-s3-movil {
    display: block;
  }
  .contenedor-s3-movil .contenedor-tabs-tab1 {
    gap: 30px;
  }
  .contenedor-s3-movil .contenedor-s3 {
    padding-top: 0px;
  }
  .contenedor-s3-movil .p1-tab1 {
    padding-top: 80px;
  }
  .contenedor-s3-movil .titulo-tab2 {
    padding-top: 80px;
  }
  .contenedor-s3-movil .titulo-tab3 {
    padding-top: 80px;
  }
  .contenedor-s3-desktop {
    display: none;
  }
  .contenedor-principal {
    padding-top: 80px !important;
  }
  .p1-s1 {
    font-size: 35px;
  }
  .p2-s1 {
    font-size: 16px;
    padding: 30px 0px;
  }
  .contenedor-s2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0px;
    padding-top: 10px;
  }
  .plus {
    top: 240px;
  }
  .pico {
    top: 305px;
  }
  .p1-s2 {
    font-size: 30px;
    padding-left: 30px;
  }
  .tab-s2 {
    width: 280px;
    margin: 0 auto;
    height: 280px;
    margin-bottom: 40px;
  }
  .p1-tab1 {
    font-size: 35px;
  }
  .p2-tab1 {
    font-size: 18px;
  }
  .tabs-tab1 {
    height: 280px;
    width: 280px;
    margin: 0 auto;
  }
  .p3-tab1 {
    padding-left: 20px;
  }
  .plus-tab1 {
    top: 240px;
  }
  .pico-tab1 {
    width: 120px;
    top: 300px;
  }
  .contenedor-tabs-tab1 {
    padding-bottom: 150px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 130px;
  }
  .contenido-tab1-tab1 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .subcontenido-tab1-tab1 {
    width: 308px;
  }
  .titulo-tab1-tab1 {
    font-size: 35px;
  }
  .descripcion-tab1-tab1 {
    font-size: 18px;
  }
  .p1-tab2 {
    padding-left: 10px;
  }
  .subcontenedor-tab2 {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .titulo-tab2 {
    font-size: 35px;
  }
  .tab-tab2 {
    width: 47%;
  }
  .rectangulo-tab2 {
    width: 100%;
  }
  .subcontenido-tab2 {
    padding-bottom: 100px;
  }
  .contenedor1-tab3 {
    width: auto;
    max-width: 780px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 40px 0;
  }
  .contenedor2-tab3 {
    padding-left: 0px;
    text-align: center;
  }
  .titulo-tab3 {
    font-size: 35px;
    padding-top: 150px;
  }
  .subtitulo-tab3 {
    font-size: 18px;
    width: auto;
    max-width: 640px;
  }
  .p1-tab3 {
    font-size: 35px;
    margin-top: 35px;
  }
  .p2-tab3 {
    font-size: 18px;
  }
  .contenedor-img-tab3 {
    min-width: auto;
  }
}