@font-face {
  font-family: "Helvetica Neue LT Std";
  src: url("../fonts/HelveticaNeueLTStd-Roman.eot");
  src: url("../fonts/HelveticaNeueLTStd-Roman.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-Roman.woff2") format("woff2"), url("../fonts/HelveticaNeueLTStd-Roman.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-Roman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue LT Std HvCn";
  src: url("../fonts/HelveticaNeueLTStd-HvCn.eot");
  src: url("../fonts/HelveticaNeueLTStd-HvCn.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-HvCn.woff2") format("woff2"), url("../fonts/HelveticaNeueLTStd-HvCn.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-HvCn.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue LT Std Cn";
  src: url("../fonts/HelveticaNeueLTStd-Cn.eot");
  src: url("../fonts/HelveticaNeueLTStd-Cn.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-Cn.woff2") format("woff2"), url("../fonts/HelveticaNeueLTStd-Cn.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-Cn.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue LT Std MdCn";
  src: url("../fonts/HelveticaNeueLTStd-MdCn.eot");
  src: url("../fonts/HelveticaNeueLTStd-MdCn.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-MdCn.woff2") format("woff2"), url("../fonts/HelveticaNeueLTStd-MdCn.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-MdCn.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue LT Std LtCn";
  src: url("../fonts/HelveticaNeueLTStd-LtCn.eot");
  src: url("../fonts/HelveticaNeueLTStd-LtCn.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-LtCn.woff2") format("woff2"), url("../fonts/HelveticaNeueLTStd-LtCn.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-LtCn.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue LT Std BlkCn";
  src: url("../fonts/HelveticaNeueLTStd-BlkCn.eot");
  src: url("../fonts/HelveticaNeueLTStd-BlkCn.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-BlkCn.woff2") format("woff2"), url("../fonts/HelveticaNeueLTStd-BlkCn.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-BlkCn.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue LT Std BdCn";
  src: url("../fonts/HelveticaNeueLTStd-BdCn.eot");
  src: url("../fonts/HelveticaNeueLTStd-BdCn.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-BdCn.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-BdCn.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue LT Std Bd";
  src: url("../fonts/HelveticaNeueLTStd-Bd.eot");
  src: url("../fonts/HelveticaNeueLTStd-Bd.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-Bd.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-Bd.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
.rueda-cont {
  width: 600px;
  margin: 0 auto;
  margin-bottom: 50px;
  position: relative;
}
.rueda-cont .logo {
  width: 120px;
  position: absolute;
  background-color: red;
  top: 235px;
  left: 240px;
}
.rueda-cont svg {
  margin-bottom: 40px;
}
.rueda-cont text,
.rueda-cont foreignObject {
  color: white;
  font-family: "Helvetica Neue LT Std HvCn";
  font-size: 20px;
  text-align: center;
  text-transform: capitalize;
  cursor: pointer;
  width: 120px;
  height: 70px;
}
.rueda-cont text .icon,
.rueda-cont foreignObject .icon {
  text-shadow: 0 0 5px #f96302;
  stroke: #f96302;
  -webkit-text-stroke: 2px #f96302;
  font-weight: 900;
  font-size: 32px;
}
.rueda-cont g {
  position: relative;
  cursor: pointer;
}
.rueda-cont g.active path {
  fill: #f96302;
}
.rueda-cont g.active text .icon,
.rueda-cont g.active foreignObject .icon {
  text-shadow: 0 0 5px #f96302;
  -webkit-text-stroke: 2px #f96302;
  color: #f96302;
}
.rueda-cont g.unactive path {
  fill: #a6a6a6;
}
.rueda-cont g.unactive text .icon,
.rueda-cont g.unactive foreignObject .icon {
  text-shadow: 0 0 5px #a6a6a6;
  -webkit-text-stroke: 2px #a6a6a6;
}
.rueda-cont g#_1:hover, .rueda-cont g#_1.active {
  transform: translate(5px, -10px);
}
.rueda-cont g#_1 foreignObject {
  width: 120px;
  height: 70px;
}
.rueda-cont g#_2:hover, .rueda-cont g#_2.active {
  transform: translate(10px, -5px);
}
.rueda-cont g#_3:hover, .rueda-cont g#_3.active {
  transform: translate(10px, 2px);
}
.rueda-cont g#_4:hover, .rueda-cont g#_4.active {
  transform: translate(6px, 8px);
}
.rueda-cont g#_5:hover, .rueda-cont g#_5.active {
  transform: translate(0px, 8px);
}
.rueda-cont g#_6:hover, .rueda-cont g#_6.active {
  transform: translate(-10px, 2px);
}
.rueda-cont g#_7:hover, .rueda-cont g#_7.active {
  transform: translate(-10px, -5px);
}
.rueda-cont g#_8:hover, .rueda-cont g#_8.active {
  transform: translate(-5px, -10px);
}
.rueda-cont .item-desc {
  display: none;
  width: 500px;
  background-color: #f96302;
  margin: 0 auto;
  padding: 40px;
  position: relative;
  color: white;
}
.rueda-cont .item-desc .title {
  font-family: "Helvetica Neue LT Std HvCn";
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
}
.rueda-cont .item-desc .desc {
  text-align: center;
  letter-spacing: 1.2px;
}
.rueda-cont .item-desc:before {
  content: "";
  width: 60px;
  height: 60px;
  background-color: #f96302;
  z-index: -1;
  position: absolute;
  bottom: calc(100% - 30px);
  left: calc(50% - 30px);
  transform: rotateZ(45deg);
}