@charset "UTF-8";
@font-face {
  font-family: "Helvetica Neue LT Std";
  src: url("../fonts/HelveticaNeueLTStd-Roman.eot");
  src: url("../fonts/HelveticaNeueLTStd-Roman.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-Roman.woff2") format("woff2"), url("../fonts/HelveticaNeueLTStd-Roman.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-Roman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue LT Std HvCn";
  src: url("../fonts/HelveticaNeueLTStd-HvCn.eot");
  src: url("../fonts/HelveticaNeueLTStd-HvCn.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-HvCn.woff2") format("woff2"), url("../fonts/HelveticaNeueLTStd-HvCn.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-HvCn.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue LT Std Cn";
  src: url("../fonts/HelveticaNeueLTStd-Cn.eot");
  src: url("../fonts/HelveticaNeueLTStd-Cn.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-Cn.woff2") format("woff2"), url("../fonts/HelveticaNeueLTStd-Cn.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-Cn.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue LT Std MdCn";
  src: url("../fonts/HelveticaNeueLTStd-MdCn.eot");
  src: url("../fonts/HelveticaNeueLTStd-MdCn.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-MdCn.woff2") format("woff2"), url("../fonts/HelveticaNeueLTStd-MdCn.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-MdCn.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue LT Std LtCn";
  src: url("../fonts/HelveticaNeueLTStd-LtCn.eot");
  src: url("../fonts/HelveticaNeueLTStd-LtCn.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-LtCn.woff2") format("woff2"), url("../fonts/HelveticaNeueLTStd-LtCn.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-LtCn.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue LT Std BlkCn";
  src: url("../fonts/HelveticaNeueLTStd-BlkCn.eot");
  src: url("../fonts/HelveticaNeueLTStd-BlkCn.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-BlkCn.woff2") format("woff2"), url("../fonts/HelveticaNeueLTStd-BlkCn.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-BlkCn.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue LT Std BdCn";
  src: url("../fonts/HelveticaNeueLTStd-BdCn.eot");
  src: url("../fonts/HelveticaNeueLTStd-BdCn.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-BdCn.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-BdCn.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue LT Std";
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  font-family: "Helvetica Neue LT Std Cn";
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  background-color: #272727;
  padding: 35px 80px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* Selecciona solo los elementos de menú que contienen un sub-menú */
}
header .container .menu-item-has-children > a::after {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  background-image: url("../imgs/f-dropdown.svg");
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 5px;
  vertical-align: middle;
  position: relative;
  top: -3px;
  -webkit-filter: invert(100%) brightness(100%);
          filter: invert(100%) brightness(100%);
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
header .container .menu-item-has-children > a:hover::after {
  -webkit-filter: invert(48%) sepia(92%) saturate(1678%) hue-rotate(356deg) brightness(97%) contrast(105%);
          filter: invert(48%) sepia(92%) saturate(1678%) hue-rotate(356deg) brightness(97%) contrast(105%);
}
header .container .site-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
header .container .site-info .main-logo {
  height: 50px;
}
header .container .site-info .site-title {
  color: white;
  margin: 0 10px;
  font-size: 15px;
  line-height: 1;
  text-transform: uppercase;
  font-family: "Helvetica Neue LT Std Cn";
  margin-bottom: -5px;
}
header .container .site-info .site-title strong {
  line-height: 1;
  font-size: 21px;
  font-family: "Helvetica Neue LT Std HvCn";
}
header .container .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding: 0;
  margin: 0;
  /* Estilos para el contenedor del sub-menú */
  /* Mostrar el sub-menú al pasar el cursor por el elemento principal */
  /* Estilos para cada enlace del sub-menú */
  /* Hover en los enlaces del sub-menú */
}
header .container .menu-item {
  list-style: none;
  margin: 0 0;
  margin-left: 30px;
}
header .container .menu-item.current_page_item a {
  color: #f96302;
}
header .container .menu-item a {
  color: white;
  font-family: "Helvetica Neue LT Std HvCn";
  text-decoration: none;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
header .container .menu-item a:hover {
  color: #f96302;
}
header .container .menu .sub-menu {
  display: none;
  position: absolute;
  background-color: #f0f0f0;
  top: 18px;
  right: 85px;
  padding: 0px 0;
  z-index: 100000;
}
header .container .menu .sub-menu .menu-item {
  margin-left: 0;
}
header .container .menu .menu-item:hover .sub-menu {
  display: block;
}
header .container .menu .sub-menu a {
  display: block;
  padding: 20px 30px;
  color: #333333;
  text-decoration: none;
  border-top: solid white;
  text-align: right;
}
header .container .menu .sub-menu a:hover {
  color: #f96302;
  /* Color naranja para el primer elemento */
  text-decoration: underline;
}

.hamburger-menu {
  display: none;
  cursor: pointer;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}
.hamburger-menu span {
  width: 30px;
  height: 3px;
  background: white;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.menu-wrapper {
  display: none;
}

@media (max-width: 899px) {
  .menu-web {
    display: none;
  }
  .menu-wrapper.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    margin-top: 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .menu-wrapper.active .menu {
    list-style-type: none;
  }
  .menu-wrapper.active .menu ul {
    padding: 0;
    margin: 0;
  }
  .menu-wrapper.active .menu .sub-menu {
    list-style-type: none;
  }
  .menu-wrapper.active .menu a {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-family: "Helvetica Neue LT Std HvCn";
    -webkit-transition: all 300ms;
    transition: all 300ms;
  }
  .menu-wrapper.active .menu a:hover {
    color: #f96302;
  }
  .hamburger-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (max-width: 686px) {
  header {
    padding: 15px 0px;
  }
  header .container {
    width: 90%;
  }
}
.footer-fondo-s1 {
  min-height: 430px !important;
}

.p-s1 {
  font-family: "Helvetica Neue LT Std BlkCn";
  font-size: 40px !important;
  margin-bottom: 15px;
}
.p-s1 strong {
  color: #f96302;
}

.boton-s1 a {
  padding-top: 25px;
  border-radius: 3.5px;
  padding-bottom: 20px;
  font-family: "Helvetica Neue LT Std BdCn";
  font-size: 16px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: #f96302;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  border: #f96302 solid;
  border-width: 2px;
}
.boton-s1 a:hover {
  background-color: white;
  color: #f96302;
  border-width: 2px;
}

.footer-fondo-s2 {
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 25px;
}
.footer-fondo-s2 a {
  font-family: "Helvetica Neue LT Std";
  text-decoration: none;
  color: #333333;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  line-height: 35px;
}
.footer-fondo-s2 a:hover {
  color: #f96302;
}
.footer-fondo-s2 ul li::marker {
  font-size: 10px;
}
.footer-fondo-s2 .menu {
  margin-left: -30px;
}

.widgettitle {
  font-family: "Helvetica Neue LT Std BdCn";
  font-size: 16px;
}

.footer-p-s2 {
  font-family: "Helvetica Neue LT Std BdCn";
}

.footer-p-2-s2 {
  padding-top: 15px;
}

.footer-columna-4-s2 {
  margin-top: 12.5px !important;
}

.footer-fondo-s3 {
  min-height: 170px !important;
  padding: 0px 100px;
  padding-top: 12px;
}

.p-s3 {
  font-family: "Helvetica Neue LT Std LtCn";
  max-width: 1280px;
  padding-bottom: 10px;
  margin: 0 auto;
}

@media (max-width: 500px) {
  .p-s1 {
    font-size: 33px !important;
  }
  .footer-fondo-s3 {
    padding: 20px 40px;
    padding-top: 30px;
  }
}