@charset "UTF-8";
@font-face {
  font-family: "Helvetica Neue LT Std";
  src: url("../fonts/HelveticaNeueLTStd-Roman.eot");
  src: url("../fonts/HelveticaNeueLTStd-Roman.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-Roman.woff2") format("woff2"), url("../fonts/HelveticaNeueLTStd-Roman.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-Roman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue LT Std HvCn";
  src: url("../fonts/HelveticaNeueLTStd-HvCn.eot");
  src: url("../fonts/HelveticaNeueLTStd-HvCn.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-HvCn.woff2") format("woff2"), url("../fonts/HelveticaNeueLTStd-HvCn.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-HvCn.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue LT Std Cn";
  src: url("../fonts/HelveticaNeueLTStd-Cn.eot");
  src: url("../fonts/HelveticaNeueLTStd-Cn.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-Cn.woff2") format("woff2"), url("../fonts/HelveticaNeueLTStd-Cn.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-Cn.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue LT Std MdCn";
  src: url("../fonts/HelveticaNeueLTStd-MdCn.eot");
  src: url("../fonts/HelveticaNeueLTStd-MdCn.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-MdCn.woff2") format("woff2"), url("../fonts/HelveticaNeueLTStd-MdCn.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-MdCn.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue LT Std LtCn";
  src: url("../fonts/HelveticaNeueLTStd-LtCn.eot");
  src: url("../fonts/HelveticaNeueLTStd-LtCn.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-LtCn.woff2") format("woff2"), url("../fonts/HelveticaNeueLTStd-LtCn.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-LtCn.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue LT Std BlkCn";
  src: url("../fonts/HelveticaNeueLTStd-BlkCn.eot");
  src: url("../fonts/HelveticaNeueLTStd-BlkCn.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-BlkCn.woff2") format("woff2"), url("../fonts/HelveticaNeueLTStd-BlkCn.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-BlkCn.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue LT Std BdCn";
  src: url("../fonts/HelveticaNeueLTStd-BdCn.eot");
  src: url("../fonts/HelveticaNeueLTStd-BdCn.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-BdCn.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-BdCn.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue LT Std Bd";
  src: url("../fonts/HelveticaNeueLTStd-Bd.eot");
  src: url("../fonts/HelveticaNeueLTStd-Bd.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-Bd.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-Bd.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue LT Std";
}

p {
  letter-spacing: 1px;
}

* {
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  font-family: "Helvetica Neue LT Std HvCn";
  text-transform: uppercase;
}

main {
  padding: 35px 80px;
}

iframe {
  width: 100%;
  height: 480px;
}

.popup-cont {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99999;
  width: 100%;
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  display: none;
}
.popup-cont .container {
  background-color: #fff;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 50px;
  position: relative;
  width: 600px;
}
.popup-cont .container .close {
  position: absolute;
  color: #a6a6a6;
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 5px;
  right: 5px;
  font-size: 40px;
  font-family: "Helvetica Neue LT Std Bd";
  line-height: 1;
  border-radius: 50%;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}
.popup-cont .container .close:hover {
  color: #f96302;
}
.popup-cont .container .title {
  font-family: "Helvetica Neue LT Std HvCn";
  font-size: 34px;
  margin-bottom: 10px;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
}
.popup-cont .container .title span {
  color: #f96302;
}
.popup-cont .container .desc {
  font-size: 14px;
  letter-spacing: 1px;
  margin-bottom: 10px;
  max-width: 375px;
  text-align: center;
}
.popup-cont .container .desc span {
  color: #f96302;
}
.popup-cont .container .login-form {
  width: 100%;
  margin: 0 auto;
}
.popup-cont .container .login-form form {
  width: 100%;
  max-width: 375px;
  margin: 0 auto;
}
.popup-cont .container .login-form form input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 49%;
  border: solid thin;
  border-radius: 3px;
  height: 35px;
  margin-top: 10px;
  max-width: 400px;
  margin: 0 auto;
  padding: 0 10px;
}
.popup-cont .container .img-cont {
  padding: 5px;
  border-radius: 3px;
}
.popup-cont .container .img-cont img {
  margin: 0 auto;
  max-height: 260px;
  margin-bottom: -5px;
}
.popup-cont .container .button {
  font-family: "Helvetica Neue LT Std BdCn";
  color: white;
  background-color: #f96302;
  border-radius: 2px;
  padding: 15px 40px;
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  border: 1px solid #f96302;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  margin: 10px auto;
  margin-top: 10px;
}
.popup-cont .container .button:hover {
  background-color: #fff;
  color: #f96302;
}
.popup-cont .container .button_sub {
  font-family: "Helvetica Neue LT Std BdCn";
  color: white;
  background-color: #f96302;
  border-radius: 2px;
  padding: 10px 20px;
  padding-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  border: 1px solid #f96302;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
  margin: 10px auto;
  margin-top: 10px;
}
.popup-cont .container .button_sub:hover {
  background-color: #fff;
  color: #f96302;
}
.popup-cont .container hr {
  width: 100%;
  background-color: #a6a6a6;
  height: 1px;
  border: none;
}
.popup-cont .container .register-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
  letter-spacing: 1px;
  margin-bottom: 10px;
  max-width: 375px;
  text-align: center;
}
.popup-cont .container .register-link .button_sub {
  letter-spacing: normal;
  margin-left: 10px;
  background-color: #fff;
  color: #f96302;
  border-color: #f96302;
}

body.admin-bar {
  --admin-bar-offset: 32px;
}
@media (max-width: 782px) {
  body.admin-bar {
    --admin-bar-offset: 46px;
  }
}

.cont-header {
  height: 120px;
}

/* Estilos para el menú del perfil */
.menu-item-mi-perfil .imagen-perfil,
.menu-item-login .imagen-perfil {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.menu-item-mi-perfil:hover .imagen-perfil,
.menu-item-login:hover .imagen-perfil {
  content: url("../imgs/icono-perfil.png");
  /* Ruta de la imagen para hover */
}

@media (max-width: 899px) {
  .cont-header {
    height: 80px;
  }
}
@media (max-width: 999px) {
  .menu-item-mi-perfil .imagen-perfil,
  .menu-item-login .imagen-perfil {
    display: none !important;
    /* Oculta la imagen */
  }
}
@media (min-width: 1000px) {
  .container .menu {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
header {
  background-color: #272727;
  padding: 35px 80px;
  width: 100%;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 11;
}
header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* Selecciona solo los elementos de menú que contienen un sub-menú */
}
header .container .menu-item-has-children > a::after {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  background-image: url("../imgs/f-dropdown.svg");
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 5px;
  vertical-align: middle;
  position: relative;
  top: -3px;
  -webkit-filter: invert(100%) brightness(100%);
          filter: invert(100%) brightness(100%);
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
header .container .menu-item-has-children > a:hover::after {
  -webkit-filter: invert(48%) sepia(92%) saturate(1678%) hue-rotate(356deg) brightness(97%) contrast(105%);
          filter: invert(48%) sepia(92%) saturate(1678%) hue-rotate(356deg) brightness(97%) contrast(105%);
}
header .container .site-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
}
header .container .site-info .main-logo {
  height: 50px;
}
header .container .site-info .site-title {
  color: white;
  margin: 0 10px;
  font-size: 15px;
  line-height: 1;
  text-transform: uppercase;
  font-family: "Helvetica Neue LT Std Cn";
  margin-bottom: -5px;
}
header .container .site-info .site-title strong {
  line-height: 1;
  font-size: 21px;
  font-family: "Helvetica Neue LT Std HvCn";
}
header .container .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding: 0;
  margin: 0;
  /* Estilos para el contenedor del sub-menú */
  /* Mostrar el sub-menú al pasar el cursor por el elemento principal */
  /* Estilos para cada enlace del sub-menú */
  /* Hover en los enlaces del sub-menú */
}
header .container .menu-item {
  list-style: none;
  margin: 0 0;
  margin-left: 30px;
  position: relative;
}
header .container .menu-item.current_page_item a {
  color: #f96302;
}
header .container .menu-item a {
  color: white;
  font-family: "Helvetica Neue LT Std HvCn";
  text-decoration: none;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
header .container .menu-item a:hover {
  color: #f96302;
}
header .container .menu .sub-menu {
  display: none;
  position: absolute;
  background-color: #f0f0f0;
  top: 18px;
  right: 0px;
  width: 260px;
  padding: 0px 0;
  z-index: 100000;
}
header .container .menu .sub-menu .menu-item {
  margin-left: 0;
}
header .container .menu .menu-item .menu-item-type-custom .menu-item-object-custom .current-menu-ancestor .current-menu-parent .menu-item-has-children .menu-item-80 {
  position: relative;
}
header .container .menu .menu-item:hover .sub-menu {
  display: block;
}
header .container .menu .sub-menu a {
  display: block;
  padding: 20px 30px;
  color: #333333;
  text-decoration: none;
  border-top: solid white;
  text-align: right;
}
header .container .menu .sub-menu a:hover {
  color: #f96302;
  /* Color naranja para el primer elemento */
  text-decoration: underline;
}
header.sticky {
  position: fixed;
  top: var(--admin-bar-offset, 0);
  left: 0;
  padding: 10px 80px;
}
header.sticky .site-info .main-logo {
  height: 20px;
}
header.sticky .site-info .site-title {
  font-size: 8px;
}
header.sticky .site-info .site-title strong {
  font-size: 12px;
}

.hamburger-menu {
  display: none;
  cursor: pointer;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}
.hamburger-menu span {
  width: 30px;
  height: 3px;
  background: white;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.menu-wrapper {
  display: none;
}

@media (max-width: 899px) {
  .menu-web {
    display: none;
  }
  .menu-wrapper.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    margin-top: 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .menu-wrapper.active .menu {
    list-style-type: none;
  }
  .menu-wrapper.active .menu ul {
    padding: 0;
    margin: 0;
  }
  .menu-wrapper.active .menu .sub-menu {
    list-style-type: none;
  }
  .menu-wrapper.active .menu a {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-family: "Helvetica Neue LT Std HvCn";
    -webkit-transition: all 300ms;
    transition: all 300ms;
  }
  .menu-wrapper.active .menu a:hover {
    color: #f96302;
  }
  .hamburger-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (max-width: 686px) {
  header {
    padding: 15px 0px;
  }
  header .container {
    width: 90%;
  }
}
.footer-fondo-s1 {
  min-height: 430px !important;
}

.p-s1 {
  font-family: "Helvetica Neue LT Std BlkCn";
  font-size: 40px !important;
  margin-bottom: 15px;
}
.p-s1 strong {
  color: #f96302;
}

.boton-s1 a {
  padding-top: 25px;
  border-radius: 3.5px;
  padding-bottom: 20px;
  font-family: "Helvetica Neue LT Std BdCn";
  font-size: 16px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: #f96302;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  border: #f96302 solid;
  border-width: 2px;
}
.boton-s1 a:hover {
  background-color: white;
  color: #f96302;
  border-width: 2px;
}

.footer-fondo-s2 {
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 25px;
}
.footer-fondo-s2 a {
  font-family: "Helvetica Neue LT Std";
  text-decoration: none;
  color: #333333;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  line-height: 35px;
}
.footer-fondo-s2 a:hover {
  color: #f96302;
}
.footer-fondo-s2 ul {
  list-style: none;
  /* Elimina los marcadores predeterminados */
  padding-left: 30px;
  /* Opcional, elimina el padding por defecto */
}
.footer-fondo-s2 ul li {
  position: relative;
  padding-left: 25px;
  /* Espacio para el marcador personalizado */
}
.footer-fondo-s2 ul li::before {
  content: "•";
  /* Puedes usar un símbolo o una imagen */
  position: absolute;
  left: 18px;
  top: 13px;
  font-size: 6px;
  /* Tamaño del marcador */
  color: black;
  /* Color del marcador */
}
.footer-fondo-s2 ul li::marker {
  font-size: 10px;
}
.footer-fondo-s2 .menu {
  margin-left: -45px;
}

.widgettitle {
  font-family: "Helvetica Neue LT Std BdCn";
  font-size: 16px;
}

.footer-p-s2 {
  font-family: "Helvetica Neue LT Std BdCn";
}

.footer-p-2-s2 {
  padding-top: 15px;
}

.footer-columna-4-s2 {
  margin-top: 12.5px !important;
}

.pilas-iconos {
  position: relative;
  width: 35px;
  overflow: hidden;
}
.pilas-iconos:hover .iconos-hvr {
  opacity: 1;
}
.pilas-iconos:hover .imgs-redes {
  opacity: 0;
}

.pilas-iconos a {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 80%;
  display: block;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.iconos-hvr {
  opacity: 0;
  position: absolute;
}

.footer-fondo-s3 {
  min-height: 170px !important;
  padding: 0px 100px;
  padding-top: 12px;
}

.p-s3 {
  font-family: "Helvetica Neue LT Std LtCn";
  max-width: 1280px;
  padding-bottom: 10px;
  margin: 0 auto;
}

@media (min-width: 782px) and (max-width: 1300px) {
  .footer-fondo-s2 {
    padding-left: 80px;
    padding-right: 80px;
  }
  .imgs-redes {
    width: 25px !important;
  }
  .pilas-iconos {
    width: 25px;
  }
}
@media (min-width: 501px) and (max-width: 781px) {
  .wp-block-columns {
    -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important;
    margin-left: 80px;
    margin-right: 80px;
  }
  .wp-block-columns:not(.is-not-stacked-on-mobile) > .wp-block-column {
    -ms-flex-preferred-size: 45% !important;
        flex-basis: 45% !important;
  }
  .imgs-redes {
    width: 25px !important;
  }
  .pilas-iconos {
    width: 25px;
  }
}
@media (max-width: 500px) {
  .p-s1 {
    font-size: 33px !important;
  }
  .footer-fondo-s3 {
    padding: 20px 40px;
    padding-top: 30px;
  }
  .wp-container-core-group-is-layout-2 {
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
  .wp-container-core-group-is-layout-4 {
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
  .footer-fondo-s2 {
    text-align: center;
  }
  .footer-fondo-s2 .menu {
    margin-left: -55px;
  }
  .wp-container-core-group-is-layout-11 {
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
  .wp-container-core-group-is-layout-13 {
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
  .wp-container-core-group-is-layout-12 {
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
  .wp-container-core-group-is-layout-9 {
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
  .wp-container-core-group-is-layout-17 {
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
  .pila-iconos-footer {
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
}
.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.content .column {
  width: 50%;
  min-height: 30px;
  letter-spacing: 2px;
  font-family: "Helvetica Neue LT Std";
}
.content .column .img-gallery-cont {
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* Cambia el display a flex para alinear mejor las imágenes */
  position: relative;
  /* Para posicionar las imágenes con más precisión */
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* Centra las imágenes horizontalmente */
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  /* Alinea las imágenes verticalmente */
  width: 100%;
  /* Ajusta según tus necesidades */
  height: 500px;
}
.content .column .img-gallery-cont img {
  width: 100%;
}
.content .column .img-gallery-cont .galery-1 {
  position: absolute;
  /* Permite posicionar con respecto al contenedor */
  top: 0;
  /* Ajusta la posición superior */
  left: 0;
  /* Ajusta la posición izquierda */
  /* Ajusta según sea necesario */
  z-index: 5;
  /* Controla la superposición */
}
.content .column .img-gallery-cont .galery-1 img {
  max-width: 300px;
}
.content .column .img-gallery-cont .galery-2 {
  position: absolute;
  bottom: 0;
  /* Ajusta la posición superior */
  right: 0;
  /* Ajusta la posición izquierda */
  z-index: 10;
  /* Controla la superposición */
  /* Agrega un poco de rotación si es necesario */
}
.content .column .img-gallery-cont .galery-2 img {
  max-width: 300px;
}