@font-face {
  font-family: "Helvetica Neue LT Std";
  src: url("../fonts/HelveticaNeueLTStd-Roman.eot");
  src: url("../fonts/HelveticaNeueLTStd-Roman.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-Roman.woff2") format("woff2"), url("../fonts/HelveticaNeueLTStd-Roman.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-Roman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue LT Std HvCn";
  src: url("../fonts/HelveticaNeueLTStd-HvCn.eot");
  src: url("../fonts/HelveticaNeueLTStd-HvCn.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-HvCn.woff2") format("woff2"), url("../fonts/HelveticaNeueLTStd-HvCn.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-HvCn.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue LT Std Cn";
  src: url("../fonts/HelveticaNeueLTStd-Cn.eot");
  src: url("../fonts/HelveticaNeueLTStd-Cn.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-Cn.woff2") format("woff2"), url("../fonts/HelveticaNeueLTStd-Cn.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-Cn.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue LT Std MdCn";
  src: url("../fonts/HelveticaNeueLTStd-MdCn.eot");
  src: url("../fonts/HelveticaNeueLTStd-MdCn.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-MdCn.woff2") format("woff2"), url("../fonts/HelveticaNeueLTStd-MdCn.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-MdCn.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue LT Std LtCn";
  src: url("../fonts/HelveticaNeueLTStd-LtCn.eot");
  src: url("../fonts/HelveticaNeueLTStd-LtCn.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-LtCn.woff2") format("woff2"), url("../fonts/HelveticaNeueLTStd-LtCn.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-LtCn.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue LT Std BlkCn";
  src: url("../fonts/HelveticaNeueLTStd-BlkCn.eot");
  src: url("../fonts/HelveticaNeueLTStd-BlkCn.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-BlkCn.woff2") format("woff2"), url("../fonts/HelveticaNeueLTStd-BlkCn.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-BlkCn.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue LT Std BdCn";
  src: url("../fonts/HelveticaNeueLTStd-BdCn.eot");
  src: url("../fonts/HelveticaNeueLTStd-BdCn.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-BdCn.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-BdCn.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue LT Std Bd";
  src: url("../fonts/HelveticaNeueLTStd-Bd.eot");
  src: url("../fonts/HelveticaNeueLTStd-Bd.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-Bd.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-Bd.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
.titulo1 {
  font-family: "Helvetica Neue LT Std BlkCn";
  padding: 110px 0px;
  padding-bottom: 30px;
}
.titulo1 span {
  color: #0e0e0e;
}

.titulo2 {
  font-family: "Helvetica Neue LT Std BlkCn";
  margin-top: 70px;
}
.titulo2 span {
  color: #f96302;
}

.botones-s2 {
  background-color: white;
}
.botones-s2 a {
  position: relative;
  border-width: 1px;
  height: 385px;
  padding-top: 80px;
  padding-bottom: 120px;
  font-family: "Helvetica Neue LT Std LtCn";
  font-size: 16px;
  padding-left: 50px;
  padding-right: 50px;
  transition: all 0.3s;
  border: solid #d2d2d2;
  border-width: 1px;
}
.botones-s2 a img.wp-image-300 {
  margin-bottom: 44px;
}
.botones-s2 a img.wp-image-306 {
  margin-bottom: 50px;
}
.botones-s2 a img.wp-image-307 {
  margin-bottom: 30px;
}
.botones-s2 a strong {
  font-family: "Helvetica Neue LT Std BlkCn";
}
.botones-s2 a:hover {
  background-color: #f96302;
  color: white !important;
  border-width: 1px;
}
.botones-s2 a:hover img.wp-image-300 {
  content: url("http://localhost:8888/thd-careers/wp-content/uploads/2024/11/tiendablanca.png");
}
.botones-s2 a:hover img.wp-image-306 {
  content: url("http://localhost:8888/thd-careers/wp-content/uploads/2024/11/camionblanco.png");
}
.botones-s2 a:hover img.wp-image-307 {
  content: url("http://localhost:8888/thd-careers/wp-content/uploads/2024/11/oficinablanca.png");
}
.botones-s2 a:hover strong {
  color: white !important;
}
.botones-s2 a:hover mark {
  color: white !important;
}

.pilas-s2 {
  transition: all 0.3s;
}
.pilas-s2 a {
  width: 416px;
}
.pilas-s2 figure {
  display: none;
  position: absolute;
  margin-top: 310px;
  margin-left: 40px;
}

.pilas-s2:hover figure {
  display: block;
  position: absolute;
}

.columna-general-s2 {
  gap: 15px;
}

.pila2home {
  padding: 100px 0px;
}

.pilawrapper {
  max-width: 1280px;
  margin: 0 auto;
}

.titulo1-s3 {
  color: white !important;
  font-family: "Helvetica Neue LT Std BlkCn";
}

.titulo2-s3 {
  font-family: "Helvetica Neue LT Std BdCn";
  margin: 0;
  margin-top: 20px;
}

.fondo-s3 {
  padding-top: 130px;
  padding-bottom: 110px;
}

.imgs-s3 {
  border: solid #d2d2d2;
  position: relative;
  overflow: hidden;
}

.imgs-s3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(255, 102, 0, 0.8) 0%, rgba(255, 102, 0, 0) 50%);
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 1;
}

.subpila-s3:hover .imgs-s3::before {
  opacity: 1;
}

.imgs-s3:hover::before {
  opacity: 1;
}

.flechablanca-s3 {
  display: none;
}

.subpila-s3 {
  position: relative;
  transition: all 0.3s;
}

.subpila-s3:hover .flechablanca-s3 {
  display: block;
  position: absolute;
  z-index: 1;
  bottom: 30px;
  left: 30px;
}

.botones-s3 a {
  position: absolute;
  top: 0;
  width: 100%;
  height: 97%;
  opacity: 0;
  z-index: 10;
}

@media (max-width: 1300px) {
  .pilas-s2 a {
    width: auto;
  }
}
@media (max-width: 1135px) and (min-width: 982px) {
  .boton1s2 {
    padding: 50px 25px;
  }
  .boton1s2:hover .flechablanca-s2 img {
    display: block;
    position: absolute;
    top: 865px;
    margin-left: -5px;
  }
}
@media (max-width: 960px) and (min-width: 782px) {
  .pilas-s2 figure {
    margin-top: 335px;
    margin-left: 12px;
  }
}
@media (max-width: 781px) {
  .botones-s2 a {
    width: 391px;
  }
  .wp-container-core-group-is-layout-2 {
    align-items: center !important;
  }
  .wp-container-core-group-is-layout-3 {
    align-items: center !important;
  }
  .wp-container-core-group-is-layout-4 {
    align-items: center !important;
  }
  .pilas-s2 figure {
    margin-left: -270px;
  }
}
@media (max-width: 981px) and (min-width: 965px) {
  .boton1s2 {
    padding: 50px 25px;
  }
  .boton1s2:hover .flechablanca-s2 img {
    display: block;
    position: absolute;
    top: 885px;
    margin-left: -5px;
  }
}
@media (max-width: 1300px) and (min-width: 780px) {
  .pilawrapper {
    margin-left: 80px;
    margin-right: 80px;
  }
}
@media (max-width: 781px) and (min-width: 501px) {
  .titulo2 {
    text-align: left !important;
  }
}
@media (max-width: 781px) {
  .columnageneral-s3 {
    max-width: 528px;
    margin: 0 auto;
  }
  .pilawrapper {
    margin-left: 80px;
    margin-right: 65px;
  }
  .titulo1 {
    font-size: 33px !important;
    text-align: center;
  }
  .titulo2 {
    font-size: 33px !important;
    text-align: center;
  }
  .div-s3 {
    text-align: center;
    align-items: center !important;
  }
  .div-s3 .subpila-s3:hover .flechablanca-s3 {
    display: block;
    position: absolute;
    z-index: 1;
    bottom: 30px;
    left: 30px;
  }
}
@media (max-width: 686px) {
  .boton1s2 {
    padding: 50px 30px;
  }
  .pilawrapper {
    margin-left: 0px;
    margin-right: 0px;
    width: 90%;
    margin: 0 auto;
  }
  .boton1s2:hover .flechablanca-s2 img {
    display: block;
    position: absolute;
    margin-top: 15px;
    margin-left: -5px;
    top: auto;
  }
}
@media (max-width: 425px) and (min-width: 376px) {
  .botones-s2 a {
    width: 100%;
  }
}
@media (max-width: 375px) {
  .botones-s2 a {
    width: 100%;
  }
  .pilas-s2 figure {
    margin-left: -210px;
  }
}