@font-face {
  font-family: "Helvetica Neue LT Std";
  src: url("../fonts/HelveticaNeueLTStd-Roman.eot");
  src: url("../fonts/HelveticaNeueLTStd-Roman.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-Roman.woff2") format("woff2"), url("../fonts/HelveticaNeueLTStd-Roman.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-Roman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue LT Std HvCn";
  src: url("../fonts/HelveticaNeueLTStd-HvCn.eot");
  src: url("../fonts/HelveticaNeueLTStd-HvCn.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-HvCn.woff2") format("woff2"), url("../fonts/HelveticaNeueLTStd-HvCn.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-HvCn.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue LT Std Cn";
  src: url("../fonts/HelveticaNeueLTStd-Cn.eot");
  src: url("../fonts/HelveticaNeueLTStd-Cn.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-Cn.woff2") format("woff2"), url("../fonts/HelveticaNeueLTStd-Cn.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-Cn.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue LT Std MdCn";
  src: url("../fonts/HelveticaNeueLTStd-MdCn.eot");
  src: url("../fonts/HelveticaNeueLTStd-MdCn.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-MdCn.woff2") format("woff2"), url("../fonts/HelveticaNeueLTStd-MdCn.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-MdCn.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue LT Std LtCn";
  src: url("../fonts/HelveticaNeueLTStd-LtCn.eot");
  src: url("../fonts/HelveticaNeueLTStd-LtCn.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-LtCn.woff2") format("woff2"), url("../fonts/HelveticaNeueLTStd-LtCn.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-LtCn.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue LT Std BlkCn";
  src: url("../fonts/HelveticaNeueLTStd-BlkCn.eot");
  src: url("../fonts/HelveticaNeueLTStd-BlkCn.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-BlkCn.woff2") format("woff2"), url("../fonts/HelveticaNeueLTStd-BlkCn.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-BlkCn.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue LT Std BdCn";
  src: url("../fonts/HelveticaNeueLTStd-BdCn.eot");
  src: url("../fonts/HelveticaNeueLTStd-BdCn.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-BdCn.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-BdCn.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue LT Std Bd";
  src: url("../fonts/HelveticaNeueLTStd-Bd.eot");
  src: url("../fonts/HelveticaNeueLTStd-Bd.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-Bd.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-Bd.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
#map {
  height: 560px;
}

.leaflet-container .search-container {
  background-color: #a6a6a6;
  width: 280px;
  position: absolute;
  top: 100px;
  left: 100px;
  -webkit-transform: translateX(-90px);
          transform: translateX(-90px);
  padding: 10px;
  -webkit-transition: 0ms;
  transition: 0ms;
  border-radius: 4px;
  z-index: 1000;
}
@media screen and (max-width: 768px) {
  .leaflet-container .search-container {
    top: 10px;
    left: 50px;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
.leaflet-container .search-container .search-container-title {
  -webkit-transition: 0ms;
  transition: 0ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.leaflet-container .search-container .search-container-title .logo {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  -webkit-transition: 0ms;
  transition: 0ms;
}
.leaflet-container .search-container .search-container-title .title {
  -webkit-transition: 0ms;
  transition: 0ms;
  font-size: 24px;
  font-family: "Helvetica Neue LT Std HvCn";
  line-height: 1;
  margin-top: 5px;
  color: #FFF;
}
.leaflet-container .search-container .search-box {
  width: 100%;
  border: none;
  border-radius: 3px;
  height: 39px;
  margin-top: 10px;
  max-width: 400px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: 0ms;
  transition: 0ms;
  padding: 5px;
}
.leaflet-container .search-container .list {
  list-style: none;
  max-height: 280px;
  overflow-y: scroll;
  border: none;
  padding: 0;
  position: relative;
  margin-bottom: 0;
}
.leaflet-container .search-container .list li {
  margin: 10px 0px;
  -webkit-transition: 0ms;
  transition: 0ms;
  font-size: 15px;
  padding: 10px;
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
}
.leaflet-container .search-container .list li:hover {
  background-color: #f96302;
  color: white;
}
.leaflet-container .search-container .list li .li-title {
  font-size: 20px;
  line-height: 1;
  margin-bottom: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Helvetica Neue LT Std HvCn";
}
.leaflet-container .search-container .list li .li-title img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  padding: 1px;
  background-color: #fff;
}
.leaflet-container .search-container .list li .small {
  font-size: 10px;
  line-height: 1.2;
  text-align: left;
}
.leaflet-container .search-container .list li:first-child {
  margin-top: 0;
}
.leaflet-container .search-container .list li:last-child {
  margin-bottom: 0;
}

.leaflet-bottom.leaflet-right {
  display: none !important;
}

.leaflet-marker-icon.leaflet-zoom-animated.leaflet-interactive {
  font-family: "Helvetica Neue LT Std BdCn";
}

.leaflet-popup-close-button span {
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
.leaflet-popup-close-button:hover span {
  color: #f96302;
}

.vacantes-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-family: "Helvetica Neue LT Std HvCn";
  pointer-events: none;
}
.vacantes-label .vacantes-number {
  margin-top: 2px;
  pointer-events: none;
}

.leaflet-popup-content-wrapper {
  padding: 0;
}
.leaflet-popup-content-wrapper .leaflet-popup-content {
  margin: 0;
  padding-bottom: 5px;
  min-width: 260px;
  max-width: 260px;
}
.leaflet-popup-content-wrapper .leaflet-popup-content .header {
  background-color: #272727;
  color: white;
  padding: 10px;
  font-family: "Helvetica Neue LT Std";
}
.leaflet-popup-content-wrapper .leaflet-popup-content .header .title {
  font-size: 16px;
  font-family: "Helvetica Neue LT Std HvCn";
  margin-bottom: 5px;
}
.leaflet-popup-content-wrapper .leaflet-popup-content ul {
  padding: 0px 5px;
}
.leaflet-popup-content-wrapper .leaflet-popup-content ul li {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  list-style: none;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  background-color: #fff;
}
.leaflet-popup-content-wrapper .leaflet-popup-content ul li:nth-child(odd) {
  background-color: rgba(166, 166, 166, 0.2);
}
.leaflet-popup-content-wrapper .leaflet-popup-content ul li a {
  text-decoration: none;
  text-transform: capitalize;
  font-family: "Helvetica Neue LT Std MdCn";
  letter-spacing: 1px;
  color: #f96302;
  padding: 5px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
.leaflet-popup-content-wrapper .leaflet-popup-content ul li:hover a {
  background-color: #272727;
  color: white;
}
.leaflet-popup-content-wrapper .leaflet-popup-content .load-more {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #f96302;
  color: #fff;
  font-size: 14px;
  border-radius: 4px;
  font-family: "Helvetica Neue LT Std MdCn";
  border: none;
  padding: 5px 10px;
  padding-top: 8px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}