@font-face {
  font-family: "Helvetica Neue LT Std";
  src: url("../fonts/HelveticaNeueLTStd-Roman.eot");
  src: url("../fonts/HelveticaNeueLTStd-Roman.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-Roman.woff2") format("woff2"), url("../fonts/HelveticaNeueLTStd-Roman.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-Roman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue LT Std HvCn";
  src: url("../fonts/HelveticaNeueLTStd-HvCn.eot");
  src: url("../fonts/HelveticaNeueLTStd-HvCn.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-HvCn.woff2") format("woff2"), url("../fonts/HelveticaNeueLTStd-HvCn.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-HvCn.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue LT Std Cn";
  src: url("../fonts/HelveticaNeueLTStd-Cn.eot");
  src: url("../fonts/HelveticaNeueLTStd-Cn.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-Cn.woff2") format("woff2"), url("../fonts/HelveticaNeueLTStd-Cn.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-Cn.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue LT Std MdCn";
  src: url("../fonts/HelveticaNeueLTStd-MdCn.eot");
  src: url("../fonts/HelveticaNeueLTStd-MdCn.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-MdCn.woff2") format("woff2"), url("../fonts/HelveticaNeueLTStd-MdCn.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-MdCn.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue LT Std LtCn";
  src: url("../fonts/HelveticaNeueLTStd-LtCn.eot");
  src: url("../fonts/HelveticaNeueLTStd-LtCn.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-LtCn.woff2") format("woff2"), url("../fonts/HelveticaNeueLTStd-LtCn.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-LtCn.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue LT Std BlkCn";
  src: url("../fonts/HelveticaNeueLTStd-BlkCn.eot");
  src: url("../fonts/HelveticaNeueLTStd-BlkCn.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-BlkCn.woff2") format("woff2"), url("../fonts/HelveticaNeueLTStd-BlkCn.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-BlkCn.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue LT Std BdCn";
  src: url("../fonts/HelveticaNeueLTStd-BdCn.eot");
  src: url("../fonts/HelveticaNeueLTStd-BdCn.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-BdCn.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-BdCn.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue LT Std Bd";
  src: url("../fonts/HelveticaNeueLTStd-Bd.eot");
  src: url("../fonts/HelveticaNeueLTStd-Bd.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-Bd.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-Bd.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
body.admin-bar {
  --sticky-offset: 32px;
}
@media (max-width: 782px) {
  body.admin-bar {
    --sticky-offset: 46px;
  }
}

.highlight-orange {
  color: #f96302;
}

.contenedor-boton {
  padding: 15px 0px;
}
.contenedor-boton input {
  font-family: "Helvetica Neue LT Std HvCn";
  color: white;
  background-color: #f96302;
  border: 2px solid #f96302;
  padding: 10px 20px;
  padding-top: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 50px;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
.contenedor-boton input:hover {
  background-color: white;
  color: #f96302;
}

.contenedor {
  padding: 1px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contenedor label {
  padding: 5px 0px;
  color: #b2b2b2;
}
.contenedor input {
  border: solid thin;
  border-radius: 3px;
  height: 35px;
  margin-top: 10px;
  padding-left: 5px;
  max-width: 600px;
}

.banner {
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding: 0 80px;
  position: relative;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.banner:before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: inherit;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
}
.banner.sticky {
  height: unset;
  padding-top: 10px;
  padding-bottom: 10px;
  position: fixed;
  top: calc(var(--sticky-offset, 0) + var(--header-height, 40px));
  -webkit-box-shadow: 0 0 20px 10px white;
          box-shadow: 0 0 20px 10px white;
}
.banner.sticky:before {
  opacity: 1;
}
.banner.sticky .container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.banner.sticky .container .title-cont .term {
  display: none;
}
.banner.sticky .container .title-cont .title {
  font-size: 28px;
}
.banner.sticky .container .button {
  margin: 0;
}
.banner .container {
  color: white;
  font-family: "Helvetica Neue LT Std BlkCn";
  font-size: 60px;
  text-transform: uppercase;
  line-height: 1;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.banner .container .title-cont .term {
  font-size: 16px;
  font-family: "Helvetica Neue LT Std";
  text-decoration: underline;
  text-transform: capitalize;
}
.banner .container .title-cont .title {
  font-family: "Helvetica Neue LT Std HvCn";
  font-size: 40px;
  margin-top: 10px;
  line-height: 1.1;
  width: 80%;
  -webkit-transition: none;
  transition: none;
}
.banner .container .button {
  font-family: "Helvetica Neue LT Std BdCn";
  color: #f96302;
  background-color: #fff;
  border-radius: 2px;
  padding: 13px 20px;
  padding-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
  margin-top: 50px;
}
.banner .container .button:hover {
  border: 1px solid #fff;
  color: #fff;
  background-color: #f96302;
}

.container .desc-video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 40px;
}
.container .desc-video .column {
  width: 50%;
}
.container .desc-video .column .desc {
  padding-right: 20px;
  font-family: "Helvetica Neue LT Std";
  font-size: 14px;
  line-height: 1.4;
  font-weight: thin;
}
.container .desc-video .column .desc p {
  margin-top: 0;
}
.container .desc-video .column .desc strong {
  font-family: "Helvetica Neue LT Std HvCn";
  font-size: 16px;
}
.container .desc-video .column .desc ul li,
.container .desc-video .column .desc ol li {
  padding: 5px;
}
.container .desc-video .column iframe {
  min-width: 300px;
  max-width: 100%;
}
.container .desc-video .column .title_b {
  font-family: "Helvetica Neue LT Std HvCn";
  color: #f96302;
  font-size: 24px;
  margin-top: 20px;
}
.container .desc-video .column .benefit-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 25px 0;
  font-size: 12px;
  height: 35px;
  line-height: 1;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  text-transform: uppercase;
}
.container .desc-video .column .benefit-item img {
  width: 35px;
  margin-right: 10px;
}

.form-post {
  display: none;
  opacity: 0;
  -webkit-transition: all 500ms ease-in;
  transition: all 500ms ease-in;
}
.form-post.fade-in {
  opacity: 1;
}