@charset "UTF-8";
@font-face {
  font-family: "Helvetica Neue LT Std";
  src: url("../fonts/HelveticaNeueLTStd-Roman.eot");
  src: url("../fonts/HelveticaNeueLTStd-Roman.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-Roman.woff2") format("woff2"), url("../fonts/HelveticaNeueLTStd-Roman.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-Roman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue LT Std HvCn";
  src: url("../fonts/HelveticaNeueLTStd-HvCn.eot");
  src: url("../fonts/HelveticaNeueLTStd-HvCn.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-HvCn.woff2") format("woff2"), url("../fonts/HelveticaNeueLTStd-HvCn.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-HvCn.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue LT Std Cn";
  src: url("../fonts/HelveticaNeueLTStd-Cn.eot");
  src: url("../fonts/HelveticaNeueLTStd-Cn.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-Cn.woff2") format("woff2"), url("../fonts/HelveticaNeueLTStd-Cn.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-Cn.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue LT Std MdCn";
  src: url("../fonts/HelveticaNeueLTStd-MdCn.eot");
  src: url("../fonts/HelveticaNeueLTStd-MdCn.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-MdCn.woff2") format("woff2"), url("../fonts/HelveticaNeueLTStd-MdCn.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-MdCn.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue LT Std LtCn";
  src: url("../fonts/HelveticaNeueLTStd-LtCn.eot");
  src: url("../fonts/HelveticaNeueLTStd-LtCn.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-LtCn.woff2") format("woff2"), url("../fonts/HelveticaNeueLTStd-LtCn.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-LtCn.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue LT Std BlkCn";
  src: url("../fonts/HelveticaNeueLTStd-BlkCn.eot");
  src: url("../fonts/HelveticaNeueLTStd-BlkCn.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-BlkCn.woff2") format("woff2"), url("../fonts/HelveticaNeueLTStd-BlkCn.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-BlkCn.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue LT Std BdCn";
  src: url("../fonts/HelveticaNeueLTStd-BdCn.eot");
  src: url("../fonts/HelveticaNeueLTStd-BdCn.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-BdCn.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-BdCn.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue LT Std Bd";
  src: url("../fonts/HelveticaNeueLTStd-Bd.eot");
  src: url("../fonts/HelveticaNeueLTStd-Bd.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-Bd.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-Bd.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
.a-tyc {
  color: #f96302;
}

body.admin-bar {
  --sticky-offset: 32px;
}
@media (max-width: 782px) {
  body.admin-bar {
    --sticky-offset: 46px;
  }
}

.highlight-orange {
  color: #f96302;
}

.banner {
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding: 0 80px;
  position: relative;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (max-width: 780px) {
  .banner {
    padding: 0 10px;
  }
}
.banner:before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: inherit;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
}
.banner.sticky {
  height: unset;
  padding-top: 10px;
  padding-bottom: 10px;
  position: fixed;
  z-index: 10;
  top: calc(var(--sticky-offset, 0) + var(--header-height, 40px));
  -webkit-box-shadow: 0 0 20px 10px white;
          box-shadow: 0 0 20px 10px white;
}
.banner.sticky:before {
  opacity: 1;
}
.banner.sticky .container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.banner.sticky .container .title-cont .term {
  display: none;
}
.banner.sticky .container .title-cont .term a {
  color: white;
}
.banner.sticky .container .title-cont .title {
  font-size: 28px;
}
.banner.sticky .container .button {
  margin: 0;
}
.banner .container {
  color: white;
  font-family: "Helvetica Neue LT Std BlkCn";
  font-size: 60px;
  text-transform: uppercase;
  line-height: 1;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.banner .container .title-cont .term {
  font-size: 16px;
  font-family: "Helvetica Neue LT Std";
  text-decoration: underline;
  text-transform: capitalize;
}
.banner .container .title-cont .term a {
  color: white;
}
.banner .container .title-cont .title {
  font-family: "Helvetica Neue LT Std HvCn";
  font-size: 40px;
  margin-top: 10px;
  line-height: 1.1;
  width: 80%;
  -webkit-transition: none;
  transition: none;
}
.banner .container .button {
  font-family: "Helvetica Neue LT Std BdCn";
  color: #f96302;
  background-color: #fff;
  border-radius: 2px;
  padding: 13px 20px;
  padding-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #fff;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
  margin-top: 50px;
}
.banner .container .button:hover {
  border: 1px solid #fff;
  color: #fff;
  background-color: #f96302;
}

.container .desc-video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 40px;
}
.container .desc-video .column {
  width: 50%;
}
@media (max-width: 780px) {
  .container .desc-video .column {
    width: 100%;
  }
}
.container .desc-video .column .desc {
  padding-right: 20px;
  font-family: "Helvetica Neue LT Std";
  font-size: 14px;
  line-height: 1.4;
  font-weight: thin;
}
.container .desc-video .column .desc p {
  margin-top: 0;
}
.container .desc-video .column .desc strong {
  font-family: "Helvetica Neue LT Std HvCn";
  font-size: 16px;
}
.container .desc-video .column .desc ul li,
.container .desc-video .column .desc ol li {
  padding: 5px;
}
.container .desc-video .column iframe {
  min-width: 300px;
  max-width: 100%;
}
.container .desc-video .column .title_b {
  font-family: "Helvetica Neue LT Std HvCn";
  color: #f96302;
  font-size: 24px;
  margin-top: 20px;
}
.container .desc-video .column .benefit-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 25px 0;
  font-size: 12px;
  height: 35px;
  line-height: 1;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  text-transform: uppercase;
}
.container .desc-video .column .benefit-item img {
  width: 35px;
  margin-right: 10px;
}

.form-post {
  display: none;
  opacity: 0;
  -webkit-transition: all 500ms ease-in;
  transition: all 500ms ease-in;
}
.form-post.fade-in {
  opacity: 1;
}

.contenedorgeneralcampos input {
  width: 400px;
  height: 35px;
  padding-left: 10px;
  border: solid 0.5px;
  border-radius: 2px;
}
.contenedorgeneralcampos input[type=checkbox] {
  width: auto;
  height: auto;
  margin: 0;
  margin-right: 5px;
  border: solid 0.5px;
  cursor: pointer;
  accent-color: #f96302;
}
.contenedorgeneralcampos input[type=date] {
  width: 392px;
  height: 38px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 2px;
}
.contenedorgeneralcampos input[type=radio] {
  width: auto;
  height: initial;
  accent-color: #f96302;
}
.contenedorgeneralcampos .icon-calendar {
  background-image: url("../imgs/calendario-icon.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  right: 20px;
  top: 55%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 15px;
  height: 20px;
  pointer-events: none;
  cursor: pointer;
  z-index: 1;
}
.contenedorgeneralcampos .custom-date-input {
  position: relative;
}
.contenedorgeneralcampos input[type=file] {
  opacity: 0;
  width: 1270px;
  height: 100px;
  cursor: pointer;
  position: absolute;
}
.contenedorgeneralcampos textarea {
  width: 1250px;
  height: 100px;
  border: solid 0.5px;
  border-radius: 2px;
  padding: 10px;
}
.contenedorgeneralcampos input[type=checkbox] {
  width: auto;
  height: auto;
  margin: 0;
  margin-right: 5px;
}
.contenedorgeneralcampos input[type=file] {
  width: 1265px;
  height: 100px;
  background-color: #b2b2b2;
}
@media (max-width: 780px) {
  .contenedorgeneralcampos input[type=file] {
    max-width: 100%;
  }
}
.contenedorgeneralcampos textarea {
  width: 1260px;
  height: 100px;
}
.contenedorgeneralcampos select {
  width: 413px;
  height: 38.4px;
  padding-left: 10px;
  border: solid 0.5px;
  border-radius: 2px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: url(../imgs/down-arrow.svg) no-repeat right -5px center;
  background-size: 45px 45px;
}
.contenedorgeneralcampos label {
  color: black;
  padding-top: 20px;
  padding-bottom: 5px;
}
.contenedorgeneralcampos .seccion .titulo {
  font-family: "Helvetica Neue LT Std BlkCn";
  color: #f96302;
  margin: 0;
  font-size: 32px;
  padding-top: 50px;
}
.contenedorgeneralcampos .seccion .titulo.titulo-cv {
  padding-bottom: 20px;
}
.contenedorgeneralcampos .seccion .subtitulo {
  margin: 0;
}
.contenedorgeneralcampos .seccion .subtitulo.puesto1 {
  padding-top: 20px;
  font-weight: bold;
}
.contenedorgeneralcampos .seccion .subtitulo.puesto2 {
  padding-top: 40px;
  font-weight: bold;
}
.contenedorgeneralcampos .seccion .div-cvguardado {
  padding-bottom: 30px;
}
.contenedorgeneralcampos .seccion .div-cvguardado .file-saved a {
  color: #f96302;
}
.contenedorgeneralcampos .campos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contenedorgeneralcampos .campos div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33%;
          flex: 0 1 33%;
}
.contenedorgeneralcampos .campos::after {
  content: "";
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33%;
          flex: 0 1 33%;
}
.contenedorgeneralcampos .campos .div-checkbox {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  padding-top: 20px;
}
.contenedorgeneralcampos .campos .div-checkbox label {
  padding-top: 5px;
  padding-bottom: 0px;
}
.contenedorgeneralcampos .campos .trabajasaqui {
  margin-top: 30px;
}
.contenedorgeneralcampos .campos .div-allarea {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
}
.contenedorgeneralcampos .campos .div-cv {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 1270px;
          flex: 0 1 1270px;
  height: 100px;
  background-color: #f8f8f8;
  border: solid 0.5px;
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contenedorgeneralcampos .campos .div-cv .img-file-icon {
  width: 50px;
}
.contenedorgeneralcampos .campos .div-cv .file-name {
  padding-top: 5px;
}
.contenedorgeneralcampos .campos .obligatorio {
  color: red;
}
.contenedorgeneralcampos .campos input:disabled {
  background-color: #f0f0f0;
  color: #7d7d7d;
  border-color: #d0d0d0;
  cursor: not-allowed;
}
.contenedorgeneralcampos .campos #support-select option[value="Sin Selección"] {
  color: #b2b2b2;
  /* Gris */
}
.contenedorgeneralcampos .campos #support-select option:not([value="Sin Selección"]) {
  color: #000;
  /* Negro */
}

.boton-postulacion {
  background-color: #f96302;
  border: 1px solid;
  border-radius: 2px;
  color: white;
  cursor: pointer;
  margin-top: 60px;
  margin-bottom: 30px;
  padding-top: 23px;
  padding-bottom: 18px;
  padding-left: 25px;
  padding-right: 25px;
  font-family: "Helvetica Neue LT Std BdCn";
  font-size: 16px;
}
.boton-postulacion:hover {
  background-color: #C14C00;
  color: #fff;
  border-color: #C14C00;
}

@media (max-width: 1400px) and (min-width: 501px) {
  .contenedorgeneralcampos textarea {
    width: auto;
  }
  .contenedorgeneralcampos .icon-calendar {
    right: 10px;
  }
  .contenedorgeneralcampos input {
    width: auto;
  }
  .contenedorgeneralcampos .campos div {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 49%;
            flex: 0 1 49%;
  }
  .divall {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 1 100% !important;
            flex: 0 1 100% !important;
  }
  .divall select {
    width: auto;
  }
  .divall input {
    width: auto;
  }
  .trabajasaqui {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 1 100% !important;
            flex: 0 1 100% !important;
  }
  .trabajasaqui select {
    width: auto;
  }
  .trabajasaqui label {
    width: auto !important;
  }
  .trabajasaqui input {
    width: auto;
  }
  .contenedorgeneralcampos input[type=date] {
    width: auto;
  }
  .requieres {
    width: auto !important;
  }
  .contenedorgeneralcampos select {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .contenedorgeneralcampos textarea {
    width: auto;
  }
  .contenedorgeneralcampos .icon-calendar {
    right: 10px;
  }
  .contenedorgeneralcampos .campos div {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
  .contenedorgeneralcampos input {
    width: auto;
  }
  .contenedorgeneralcampos select {
    width: auto;
  }
  .contenedorgeneralcampos input[type=date] {
    width: auto;
  }
  .requieres {
    width: auto !important;
  }
  .trabajasaqui label {
    width: auto !important;
  }
  .boton-postulacion {
    width: 100%;
  }
}