@font-face {
  font-family: "Helvetica Neue LT Std";
  src: url("../fonts/HelveticaNeueLTStd-Roman.eot");
  src: url("../fonts/HelveticaNeueLTStd-Roman.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-Roman.woff2") format("woff2"), url("../fonts/HelveticaNeueLTStd-Roman.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-Roman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue LT Std HvCn";
  src: url("../fonts/HelveticaNeueLTStd-HvCn.eot");
  src: url("../fonts/HelveticaNeueLTStd-HvCn.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-HvCn.woff2") format("woff2"), url("../fonts/HelveticaNeueLTStd-HvCn.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-HvCn.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue LT Std Cn";
  src: url("../fonts/HelveticaNeueLTStd-Cn.eot");
  src: url("../fonts/HelveticaNeueLTStd-Cn.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-Cn.woff2") format("woff2"), url("../fonts/HelveticaNeueLTStd-Cn.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-Cn.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue LT Std MdCn";
  src: url("../fonts/HelveticaNeueLTStd-MdCn.eot");
  src: url("../fonts/HelveticaNeueLTStd-MdCn.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-MdCn.woff2") format("woff2"), url("../fonts/HelveticaNeueLTStd-MdCn.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-MdCn.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue LT Std LtCn";
  src: url("../fonts/HelveticaNeueLTStd-LtCn.eot");
  src: url("../fonts/HelveticaNeueLTStd-LtCn.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-LtCn.woff2") format("woff2"), url("../fonts/HelveticaNeueLTStd-LtCn.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-LtCn.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue LT Std BlkCn";
  src: url("../fonts/HelveticaNeueLTStd-BlkCn.eot");
  src: url("../fonts/HelveticaNeueLTStd-BlkCn.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-BlkCn.woff2") format("woff2"), url("../fonts/HelveticaNeueLTStd-BlkCn.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-BlkCn.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue LT Std BdCn";
  src: url("../fonts/HelveticaNeueLTStd-BdCn.eot");
  src: url("../fonts/HelveticaNeueLTStd-BdCn.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-BdCn.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-BdCn.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue LT Std Bd";
  src: url("../fonts/HelveticaNeueLTStd-Bd.eot");
  src: url("../fonts/HelveticaNeueLTStd-Bd.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-Bd.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-Bd.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
.header {
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding: 0 80px;
  position: relative;
}
.header:before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: inherit;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
}
.header .container {
  color: white;
  font-family: "Helvetica Neue LT Std BlkCn";
  font-size: 60px;
  text-transform: uppercase;
  line-height: 1;
  position: relative;
  z-index: 10px;
}

.vacantes-cont .container .title {
  font-family: "Helvetica Neue LT Std BlkCn";
  text-transform: uppercase;
  font-size: 40px;
}
.vacantes-cont .container .title span {
  color: #f96302;
}
.vacantes-cont .container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 70%;
  padding-right: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.vacantes-cont .container .row .input-search {
  width: 48%;
  height: 40px;
  font-size: 16px;
  border: 1px solid #272727;
  font-family: "Helvetica Neue LT Std";
  border-radius: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  letter-spacing: 1px;
  position: relative;
}
.vacantes-cont .container .row .input-search.active {
  border-color: #f96302;
}
.vacantes-cont .container .row .input-search input[type=text] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: #272727;
  width: 100%;
  border: 0;
  padding: 10px 10px;
  cursor: pointer;
}
.vacantes-cont .container .row .input-search input[type=text]:focus {
  outline: none;
}
.vacantes-cont .container .row .input-search input[type=text]::-webkit-input-placeholder {
  color: #a6a6a6;
}
.vacantes-cont .container .row .input-search input[type=text]::-moz-placeholder {
  color: #a6a6a6;
}
.vacantes-cont .container .row .input-search input[type=text]:-ms-input-placeholder {
  color: #a6a6a6;
}
.vacantes-cont .container .row .input-search input[type=text]::-ms-input-placeholder {
  color: #a6a6a6;
}
.vacantes-cont .container .row .input-search input[type=text]::placeholder {
  color: #a6a6a6;
}
.vacantes-cont .container .row .input-search:hover {
  border-color: #f96302;
}
.vacantes-cont .container .row .input-search .suggestions-list {
  position: absolute;
  width: calc(100% + 2px);
  left: -1px;
  top: 100%;
  list-style: none;
  padding: 0;
  background-color: #fff;
  display: block;
}
.vacantes-cont .container .row .input-search .suggestions-list.hidden {
  display: none;
}
.vacantes-cont .container .row .input-search .suggestions-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  border-bottom: 1px solid #272727;
  font-size: 12px;
  background-color: rgba(166, 166, 166, 0.1);
  cursor: pointer;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
.vacantes-cont .container .row .input-search .suggestions-list li:hover {
  background-color: rgba(166, 166, 166, 0.3);
}
.vacantes-cont .container .row .input-search .suggestions-list li label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  width: 100%;
  min-height: 30px;
  /* Hover en el checkbox */
}
.vacantes-cont .container .row .input-search .suggestions-list li label input[type=checkbox] {
  display: none;
}
.vacantes-cont .container .row .input-search .suggestions-list li label input[type=checkbox]:checked + .checkbox {
  background-color: #f96302;
  border-color: #f96302;
  -webkit-box-shadow: inset 0 0 0 2px #fff;
          box-shadow: inset 0 0 0 2px #fff;
}
.vacantes-cont .container .row .input-search .suggestions-list li label input[type=checkbox]:checked + .checkbox:after {
  opacity: 1;
}
.vacantes-cont .container .row .input-search .suggestions-list li label:hover .checkbox {
  border-color: #f96302;
}
.vacantes-cont .container .row .input-search .suggestions-list li label .checkbox {
  width: 15px;
  height: 15px;
  border: 1px solid #a6a6a6;
  display: block;
  position: relative;
  margin-right: 10px;
  background-color: #fff;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
.vacantes-cont .container .row .input-search .suggestions-list li label .checkbox:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 12px;
  background-color: transparent;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
.vacantes-cont .container .row .input-search .suggestions-list li label .text {
  width: calc(90% - 15px);
}
.vacantes-cont .container .columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.vacantes-cont .container .columns .column {
  min-height: 200px;
}
.vacantes-cont .container .columns .column:first-child {
  width: 70%;
}
.vacantes-cont .container .columns .column:last-child {
  width: 30%;
}
.vacantes-cont .container .columns .column .list {
  padding: 20px;
  padding-left: 0;
  margin: 0;
}
.vacantes-cont .container .columns .column .list .item {
  list-style: none;
  border: 1px solid #a6a6a6;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-bottom: 30px;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
.vacantes-cont .container .columns .column .list .item.active {
  border-color: #f96302;
}
.vacantes-cont .container .columns .column .list .item.active .fav .img svg path {
  fill: #f96302;
}
.vacantes-cont .container .columns .column .list .item .img {
  width: 55px;
  height: 55px;
  margin-right: 20px;
}
.vacantes-cont .container .columns .column .list .item .img img {
  width: 100%;
}
.vacantes-cont .container .columns .column .list .item .desc {
  font-family: "Helvetica Neue LT Std Bd";
}
.vacantes-cont .container .columns .column .list .item .desc a {
  color: #f96302;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 1px;
}
.vacantes-cont .container .columns .column .list .item .desc .icon-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-bottom: 0px;
}
.vacantes-cont .container .columns .column .list .item .desc .icon-cont .img {
  height: 20px;
  width: 10px;
  margin-right: 5px;
}
.vacantes-cont .container .columns .column .list .item .desc .icon-cont .img svg {
  width: 10px;
  fill: #f96302;
}
.vacantes-cont .container .columns .column .list .item .desc .icon-cont .img svg path,
.vacantes-cont .container .columns .column .list .item .desc .icon-cont .img svg circle {
  fill: #f96302;
}
.vacantes-cont .container .columns .column .list .item .desc .icon-cont .img svg path.cls-2, .vacantes-cont .container .columns .column .list .item .desc .icon-cont .img svg path.cls-4,
.vacantes-cont .container .columns .column .list .item .desc .icon-cont .img svg circle.cls-2,
.vacantes-cont .container .columns .column .list .item .desc .icon-cont .img svg circle.cls-4 {
  fill: white;
}
.vacantes-cont .container .columns .column .list .item .desc .icon-cont .text {
  font-family: "Helvetica Neue LT Std";
  font-size: 12px;
  text-transform: capitalize;
}
.vacantes-cont .container .columns .column .list .item .fav {
  margin-left: auto;
}
.vacantes-cont .container .columns .column .list .item .fav .img {
  margin-left: auto;
  margin-right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.vacantes-cont .container .columns .column .list .item .fav .img svg {
  height: 35px;
  cursor: pointer;
}
.vacantes-cont .container .columns .column .list .item .fav .img svg:hover path {
  fill: #f96302;
}
.vacantes-cont .container .columns .column .list .item .fav .img svg path {
  fill: #a6a6a6;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
.vacantes-cont .container .columns .column .saved-jobs {
  border: 1px solid #a6a6a6;
  font-size: 10px;
  padding: 20px;
  padding-bottom: 35px;
  margin: 20px 0;
  position: relative;
}
.vacantes-cont .container .columns .column .saved-jobs:before {
  content: "";
  height: 20px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #f96302;
  display: block;
}
.vacantes-cont .container .columns .column .saved-jobs .title {
  font-size: 18px;
  color: #f96302;
  margin-bottom: 10px;
}
.vacantes-cont .container .columns .column .saved-jobs .desc {
  font-family: "Helvetica Neue LT Std";
}
.vacantes-cont .container .columns .column .saved-jobs .button {
  background-color: #f96302;
  border: 1px solid #f96302;
  color: #fff;
  font-family: "Helvetica Neue LT Std Bd";
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px 10px;
  padding-top: 7px;
  margin: 0 auto;
  text-transform: uppercase;
  border-radius: 2px;
  text-decoration: none;
  display: block;
}
.vacantes-cont .container .columns .column .saved-jobs .button:hover {
  color: #f96302;
  background-color: #fff;
  cursor: pointer;
}