// SECCIÓN 1

.footer-fondo-s1 {
    min-height: 430px !important;
}

.p-s1 {
    font-family: $ff-blkcn;
    font-size: 40px !important;
    margin-bottom: 15px;

    strong {
        color: #f96302;
    }
}

.boton-s1 {
    a {
        padding-top: 25px;
        border-radius: 3.5px;
        padding-bottom: 20px;
        font-family: $ff-bdcn;
        font-size: 16px;
        padding-left: 25px;
        padding-right: 25px;
        background-color: #f96302;
        transition: all 300ms;
        border: #f96302 solid;
        border-width: 2px;
    }

    a:hover {
        background-color: white;
        color: #f96302;
        border-width: 2px;
    }
}

// SECCIÓN 2

.footer-fondo-s2 {
    max-width: 1280px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 25px;

    a {
        font-family: $ff-roman;
        text-decoration: none;
        color: #333333;
        transition: all 300ms;
        line-height: 35px;
    }

    a:hover {
        color: #f96302;
    }

    ul {
        list-style: none;
        /* Elimina los marcadores predeterminados */
        padding-left: 30px;
        /* Opcional, elimina el padding por defecto */
    }

    ul li {
        position: relative;
        padding-left: 25px;
        /* Espacio para el marcador personalizado */
    }

    ul li::before {
        content: '•';
        /* Puedes usar un símbolo o una imagen */
        position: absolute;
        left: 18px;
        top: 13px;
        font-size: 6px;
        /* Tamaño del marcador */
        color: black;
        /* Color del marcador */
    }

    ul li::marker {
        font-size: 10px;
    }

    .menu {
        margin-left: -30px;
    }
}

.widgettitle {
    font-family: $ff-bdcn;
    font-size: 16px;
}

.footer-p-s2 {
    font-family: $ff-bdcn;
}

.footer-p-2-s2 {
    padding-top: 15px;
}

.footer-columna-4-s2 {
    margin-top: 12.5px !important;
}

// SECCIÓN 3

.footer-fondo-s3 {
    min-height: 170px !important;
    padding: 0px 100px;
    padding-top: 12px;
}

.p-s3 {
    font-family: $ff-ltcn;
    max-width: 1280px;
    padding-bottom: 10px;
    margin: 0 auto;
}

// MÓVIL

@media (max-width: 500px) {

    // SECCIÓN 1
    .p-s1 {
        font-size: 33px !important;
    }

    // SECCIÓN 3
    .footer-fondo-s3 {
        padding: 20px 40px;
        padding-top: 30px;
    }

    .wp-container-core-group-is-layout-2 {
        align-items: center !important;
    }

    .wp-container-core-group-is-layout-4 {
        align-items: center !important;
    }

    .footer-fondo-s2 {
        text-align: center;
    }

    .footer-fondo-s2 .menu {
        margin-left: -55px;
    }

}