header {
    background-color: $dark_grey;
    padding: 35px 80px;
    width: 100%;
    box-sizing: border-box;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .site-info {
            display: flex;
            align-items: center;
            justify-content: center;

            .main-logo {
                height: 50px;
            }

            .site-title {
                color: white;
                margin: 0 10px;
                // font-size: 15px;
                line-height: 1;
                text-transform: uppercase;
                font-family: $ff-cn;


                strong {
                    line-height: 1;
                    // font-size: 21px;
                    font-family: $ff-hvcn;
                }
            }
        }

        .menu {
            display: flex;
            padding: 0;
            margin: 0;


            &-item {
                list-style: none;
                margin: 0 15px;

                &.current_page_item {
                    a {
                        color: $orange;
                    }
                }


                a {

                    text-transform: uppercase;
                    color: white;
                    font-family: $ff-hvcn;
                    text-decoration: none;
                    transition: all 300ms;

                    &:hover {
                        color: $orange;
                    }

                }
            }

            .sub-menu {
                display: none;
            }
        }
    }


}