// Ajuste para la barra de administración
body.admin-bar {
    --admin-bar-offset: 32px;

    @media (max-width: 782px) {
        --admin-bar-offset: 46px;
    }
}


.cont-header {
    height: 120px;
}

/* Estilos para el menú del perfil */
.menu-item-mi-perfil .imagen-perfil,
.menu-item-login .imagen-perfil {
    transition: all 0.3s ease;
}

.menu-item-mi-perfil:hover .imagen-perfil,
.menu-item-login:hover .imagen-perfil {
    content: url('../imgs/icono-perfil.png');
    /* Ruta de la imagen para hover */
}

@media (max-width: 899px) {
    .cont-header {
        height: 80px;
    }
}

@media (max-width: 999px) {

    .menu-item-mi-perfil .imagen-perfil,
    .menu-item-login .imagen-perfil {
        display: none !important;
        /* Oculta la imagen */
    }
}

@media (min-width: 1000px) {
    .container {
        .menu {
            align-items: center;

            // .sub-menu {
            //     top: 40px !important;
            //     right: 95px !important;
            // }
        }
    }
}

header {
    background-color: $dark_grey;
    padding: 35px 80px;
    width: 100%;
    position: relative;
    box-sizing: border-box;

    z-index: 11;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        /* Selecciona solo los elementos de menú que contienen un sub-menú */
        .menu-item-has-children>a::after {
            content: "";
            display: inline-block;
            width: 12px;
            height: 12px;
            background-image: url('../imgs/f-dropdown.svg');
            transform: rotate(270deg);
            background-size: contain;
            background-repeat: no-repeat;
            margin-left: 5px;
            vertical-align: middle;
            position: relative;
            top: -3px;
            filter: invert(100%) brightness(100%);
            transition: all 300ms;
        }

        .menu-item-has-children>a:hover::after {
            filter: invert(48%) sepia(92%) saturate(1678%) hue-rotate(356deg) brightness(97%) contrast(105%);
        }


        .site-info {
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;

            > a{
                display: flex;
                align-items: center;
            }

            .main-logo {
                height: 50px;
            }

            .site-title {
                color: white;
                margin: 0 10px;
                font-size: 15px;
                line-height: 1;
                text-transform: uppercase;
                font-family: $ff-cn;
                margin-bottom: -5px;

                strong {
                    line-height: 1;
                    font-size: 21px;
                    font-family: $ff-hvcn;
                }
            }

            .top__search-input-cont{
                border-radius: 2px;
                display: block;
                margin-left: 20px;
                position: relative;
                form{
                    display: flex;
                    align-items: center;
                    position: relative;
                    input{
                        border: none;
                        appearance: none;
                        background-color: #fff;
                        height: 40px;
                        width: 300px;
                        padding: 0 16px;
                        padding-right: 4px;
                        font-size: 12px;
                        border: 0;
                        outline: none;
                        &:focus{
                            &::placeholder {
                                color: transparent;
                            }
                        }
                    }
                    .cont-icon{
                        position: absolute;
                        right: 0;
                        height: 40px;
                        width: 40px;
                        background-color: #fff;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        box-sizing: border-box;
                        .icon{
                            background-color: #fff;
                            width: 30px;
                            height: 30px;
        
                        }
                    }
                }
                .resultados{
                    background: white;
                    position: absolute;
                    width: 100%;
                    left: 0;
                    top: 40px;
                    width: 100%;
                    max-height: 520px;
                    overflow: scroll;
                    #contenedor-resultados{
                        display: none;
                        background: white;
                        border-bottom-left-radius: 10px;
                        border-bottom-right-radius: 10px;
                        width: 100%;
                        .cont-result{
                            .resultado{
                                a{
                                    display: block;
                                    width: calc(100% - 20px);
                                    text-decoration: none;
                                    padding: 10px;
                                    h2{
                                        text-transform: unset;
                                        font-size: 20px;
                                        margin: 0;
                                        color: #000000;
                                        transition: all .3s;
                                    }
                                    span{
                                        color: #000000;
                                        font-size: 14px;
                                        transition: all .3s;
                                    }
                                    &:hover{
                                        background: #f96302;
                                        h2{
                                            color: white;
                                        }
                                        span{
                                            color: white;
                                        }
                                    }
                                }
                                p{
                                    color: #000000;
                                    font-size: 16px;
                                    letter-spacing: unset;
                                    margin: 10px;
                                }
                            }
                        }
                    }
                }
            }

        }

        .menu {
            display: flex;
            position: relative;
            padding: 0;
            margin: 0;


            &-item {
                list-style: none;
                margin: 0 0;
                margin-left: 30px;
                position: relative;

                &.current_page_item {
                    a {
                        color: $orange;
                    }
                }


                a {

                    color: white;
                    font-family: $ff-hvcn;
                    text-decoration: none;
                    transition: all 300ms;

                    &:hover {
                        color: $orange;
                    }

                }
            }

            /* Estilos para el contenedor del sub-menú */
            .sub-menu {
                display: none;
                position: absolute;
                background-color: #f0f0f0;
                top: 18px;
                right: 0px;
                width: 260px;
                padding: 0px 0;
                z-index: 100000;

                .menu-item {
                    margin-left: 0;
                }
            }

            .menu-item .menu-item-type-custom .menu-item-object-custom .current-menu-ancestor .current-menu-parent .menu-item-has-children .menu-item-80 {
                position: relative;
            }

            /* Mostrar el sub-menú al pasar el cursor por el elemento principal */
            .menu-item:hover .sub-menu {
                display: block;
            }

            /* Estilos para cada enlace del sub-menú */
            .sub-menu a {
                display: block;
                padding: 20px 30px;
                color: #333333;
                text-decoration: none;
                border-top: solid white;
                text-align: right;
            }

            /* Hover en los enlaces del sub-menú */
            .sub-menu a:hover {
                color: #f96302;
                /* Color naranja para el primer elemento */
                text-decoration: underline;
            }

        }
    }

    &.sticky {
        position: fixed;
        top: var(--admin-bar-offset, 0);
        left: 0;
        padding: 10px 80px;

        .site-info {
            .main-logo {
                height: 20px;
            }

            .site-title {
                font-size: 8px;

                strong {
                    font-size: 12px;
                }
            }
        }
    }
}

.hamburger-menu {
    display: none;
    cursor: pointer;
    flex-direction: column;
    gap: 5px;

    span {
        width: 30px;
        height: 3px;
        background: white;
        transition: all 0.3s;
    }
}

.menu-wrapper {
    display: none;
}

// Para pantallas pequeñas (responsive)
@media (max-width: 899px) {
    .menu-web {
        display: none;
    }

    .menu-wrapper.active {
        display: flex;
        text-align: center;
        margin-top: 10px;
        justify-content: center;

        .menu {
            list-style-type: none;

            ul {
                padding: 0;
                margin: 0;
            }

            .sub-menu {
                list-style-type: none;
            }

            a {
                text-transform: uppercase;
                text-decoration: none;
                color: white;
                font-family: $ff-hvcn;
                transition: all 300ms;

                &:hover {
                    color: $orange;
                }
            }
        }
    }

    .hamburger-menu {
        display: flex;
    }
}

@media (max-width: 686px) {
    header {
        padding: 15px 0px;

        .container {
            width: 90%;
        }
    }
}