@import "fonts";

// SECCIÓN 1

.contenedor-beneficios {
    margin: 0 auto;
    max-width: 1280px;
}

.p1-beneficios {
    font-family: $ff-blkcn;
    margin-top: 90px !important;
}

.p2-beneficios {
    font-family: $ff-roman;
    font-size: 23.4px;
    padding-bottom: 12px;
}

// TABS

.columnas-tabs {
    gap: 100px;
    padding-bottom: 30px;
}

.botones-tabs {
    a {
        width: 360px;
        height: 360px;
        text-align: left;
        font-family: $ff-blkcn;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 50px;

        strong {
            font-size: 70px;
            line-height: 50px;
        }
    }
}

.botones-tabs.tab2 {
    strong {
        margin-top: 28px;
    }
}

// .botones-tabs {
//     position: relative;
// }

.icono-boton {
    position: relative;

    img {
        position: absolute;
        top: -45px;
        left: 315px;
    }
}

.pico {
    position: relative;
    display: none;

    img {
        position: absolute;
        top: -107px;
        left: 90px;
    }
}

.wp-block-buttons {
    &.active a {
        background-color: #f96302;
        color: white !important;
        transition: unset;
    }

    &.active+.icono-boton {
        display: none;
    }

    &.active~.pico {
        display: block;
    }
}

.contenido-tab {
    display: none !important;

    &.active {
        margin-top: 120px;
        display: block !important;
    }
}

.contenido-tab3 {
    display: none !important;

    &.active {
        margin-top: 120px;
        display: block !important;
    }
}

// TAB 2

.contenido-tab.tab2-content {
    margin: 0 auto;
    padding-top: 100px;
}

.tab2-p1 {
    font-family: $ff-blkcn;
    padding-bottom: 100px;
    text-align: center;
}

.tab2-p2 {
    font-family: $ff-blkcn;
}

.tab2-p3 {
    font-family: $ff-roman;
    margin-top: -25px !important;
}

.tab2-piladesc {
    padding-left: 25px;
}

.tab2-fila {
    margin: 0 auto !important;
    width: 50%;
    align-items: flex-start;
}

.tab2-fila.fila1 {
    // padding-left: 50px;
}

.tab2-fila.fila2 {
    padding: 80px 0px;
}

.tab2-fila.fila3 {
    padding-bottom: 80px;
}

// TAB 3

.tab3-botones-tabs {
    position: relative;
}

.icono-boton-tab3 {
    position: relative;

    img {
        position: absolute;
        top: -35px;
        left: 185px;
    }
}

.tab3-botones-tabs a {
    width: 100%;
    height: 200px;
}

@media (max-width: 1440px) and (min-width: 1281px) {
    .botones-tabs a {
        width: 100%;
    }

    .icono-boton img {
        left: 85%;
    }

    .pico img {
        top: -10px;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .contenedor-beneficios {
        padding: 0px 80px 0px 80px;
    }

    .columnas-tabs {
        gap: 20px;
    }

    .btn-tab3 {
        width: 100%;
    }

    .wp-block-columns.is-not-stacked-on-mobile.tab3-columnas-tabs.is-layout-flex.wp-container-core-columns-is-layout-2.wp-block-columns-is-layout-flex {
        gap: 10px;
    }

    .tab3-botones-tabs a {
        font-family: $ff-blkcn;
        display: flex;
        align-items: center;
        width: 215px;
    }
}

@media (max-width: 1280px) and (min-width: 1024px) {

    .botones-tabs a {
        width: 100%;
    }

    .icono-boton img {
        left: 85%;
    }

    .pico img {
        top: -10px;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .contenedor-beneficios {
        padding: 0px 80px 0px 80px;
    }

    .columnas-tabs {
        gap: 20px;
    }

    // .tab2-fila {
    //     width: 80%;
    // }

    // .tab2-img1 {
    //     width: 600px;
    // }

    // .tab2-img2 {
    //     width: 600px;
    // }

    // .tab2-img3 {
    //     width: 600px;
    // }

    .tab2-fila.fila1 {
        padding-left: 0px;
        width: 62%;
    }

    .icono-boton-tab3 {
        img {
            left: 75%;
        }
    }

    .btn-tab3 {
        width: 100%;
    }

    .wp-block-group.contenido-tab.tab3-content.is-vertical.is-layout-flex.wp-container-core-group-is-layout-10.wp-block-group-is-layout-flex.active {
        margin: 0 auto;
    }

    .tab3-columnas-tabs {
        gap: 10px;
    }
}

@media (max-width: 1023px) and (min-width: 769px) {
    .contenedor-tabs {
        margin: 0 auto !important;
    }

    .p1-beneficios {
        font-size: 40px !important;
    }

    .contenedor-beneficios {
        padding: 0px 80px 0px 80px;
    }

    .columnas-tabs {
        gap: 10px;
    }

    .pico img {
        top: -42px;
        left: 61px;
        width: 80px !important;
    }

    .icono-boton img {
        position: absolute;
        top: -33px;
        left: 165px;
    }

    .botones-tabs a {
        width: 200px;
        height: 200px;
        padding-left: 25px;
    }

    .botones-tabs.tab2 strong {
        margin-top: 15px;
    }

    .botones-tabs a {
        font-size: 15px !important;

        strong {
            font-size: 30px !important;
        }
    }

    .contenido-tab {
        padding-top: 35px !important;
    }

    .tab2-p1 {
        font-size: 25px !important;
        padding-bottom: 80px;
    }

    .p2-beneficios {
        font-size: 15px !important;
    }

    .tab2-fila {
        width: 80%;
    }

    .tab2-fila.fila1 {
        padding-left: 45px;
    }

    .tab2-p2 {
        font-size: 25px !important;
    }

    .tab2-p3 {
        font-size: 17px !important;
    }

    .tab3-columnas-tabs {
        gap: 10px;
    }

    .tab3-botones-tabs a {
        width: 115px;
        height: 113px;
        font-size: 12.2px !important;
        align-items: center;
        justify-content: center;
        display: flex;
    }

    .wp-block-group.contenido-tab.tab3-content.is-vertical.is-layout-flex.wp-container-core-group-is-layout-10.wp-block-group-is-layout-flex.active {
        margin: 0 auto;
    }

    .icono-boton-tab3 img {
        position: absolute;
        top: -27px;
        left: 90px;
        width: 15px !important;
    }

}

// TABLET

@media (max-width: 768px) and (min-width: 501px) {
    .contenedor-beneficios {
        padding: 0px 80px 0px 80px;
        display: flex !important;
        align-items: center !important;
    }

    .p1-beneficios {
        font-size: 30px !important;
        text-align: center;
    }

    .p2-beneficios {
        font-size: 17px !important;
        text-align: center;
    }

    .wp-block-columns.is-not-stacked-on-mobile {
        flex-wrap: nowrap !important;
        display: flex;
        flex-direction: column;
    }

    .botones-tabs a {
        width: 250px;
        height: 250px;
        padding-left: 35px;
    }

    .botones-tabs a {
        font-size: 18px !important;

        strong {
            font-size: 38px !important;
        }
    }

    .pico img {
        position: absolute;
        top: -46px;
        left: 80px;
        width: 86px !important;
    }

    .icono-boton img {
        position: absolute;
        top: -40px;
        left: 210px;
    }

    .columnas-tabs {
        gap: 50px;
    }

    .tab2-p1 {
        font-size: 30px !important;
        text-align: center;
    }

    .tab2-p2 {
        font-size: 30px !important;
        text-align: center;
    }

    .contenido-tab.tab2-content {
        padding-top: 50px;
    }

    .tab2-fila.fila1 {
        padding-left: 0px;
    }

    .tab2-p3 {
        font-size: 17px !important;
        text-align: center;
        padding-top: 15px;
    }

    .tab2-fila {
        flex-direction: column;
        width: 75%;
        align-items: center;
    }

    .tab2-img1 img {
        width: 250px !important;
        padding-bottom: 30px;
    }

    .tab2-img2 img {
        width: 250px !important;
        padding-bottom: 30px;
    }

    .tab2-img3 img {
        width: 250px !important;
        padding-bottom: 30px;
    }

    .tab2-piladesc {
        padding-left: 0px;
        align-items: center !important;
    }

    .tab3-botones-tabs a {
        width: 250px;
        height: 250px;
    }
}

// MÓVIL

@media (max-width: 500px) {
    .contenedor-beneficios {
        align-items: center !important;
        width: 95%;

        p {
            text-align: center;
        }
    }

    .p1-beneficios {
        font-size: 30px !important;
    }

    .p2-beneficios {
        font-size: 17px !important;
    }

    .wp-block-columns.is-not-stacked-on-mobile {
        flex-wrap: nowrap !important;
        display: flex;
        flex-direction: column;
    }

    .botones-tabs a {
        width: 250px;
        height: 250px;
        padding-left: 35px;
    }

    .botones-tabs a {
        font-size: 18px !important;

        strong {
            font-size: 38px !important;
        }
    }

    .pico img {
        position: absolute;
        top: -46px;
        left: 80px;
        width: 86px !important;
    }

    .icono-boton img {
        position: absolute;
        top: -40px;
        left: 210px;
    }

    .columnas-tabs {
        gap: 50px;
    }

    .tab2-p1 {
        font-size: 25px !important;
        text-align: center;
    }

    .tab2-p2 {
        font-size: 25px !important;
    }

    .contenido-tab.tab2-content {
        padding-top: 50px;
    }

    .tab2-fila.fila1 {
        padding-left: 0px;
    }

    .tab2-p3 {
        font-size: 17px !important;
        text-align: center;
        padding-top: 15px;
    }

    .tab2-fila {
        flex-direction: column;
        width: 75%;
        align-items: center;
    }

    .tab2-img1 img {
        width: 250px !important;
        padding-bottom: 30px;
    }

    .tab2-img2 img {
        width: 250px !important;
        padding-bottom: 30px;
    }

    .tab2-img3 img {
        width: 250px !important;
        padding-bottom: 30px;
    }

    .tab2-piladesc {
        padding-left: 0px;
        align-items: center !important;
    }

    .tab3-botones-tabs a {
        width: 250px;
        height: 250px;
    }
}