//Variables
@import "variables";
@import "fonts";

html,
body {
    padding: 0;
    margin: 0;
    font-family: $ff-roman;
}

// Tamaños
.container {
    max-width: $max_width;
    width: 100%;

    margin: 0 auto;
    box-sizing: border-box;
}


h1 {
    font-family: $ff-cn;
}

// Tamaños
.container {
    max-width: $max_width;
    width: 100%;

    margin: 0 auto;
    box-sizing: border-box;

}

// Header
@import "header";

// Footer
@import "footer";