//Variables
@import "variables";
@import "fonts";

html,
body {
    padding: 0;
    margin: 0;
    font-family: $ff-roman;
}

p {
    letter-spacing: 1px;
}

* {
    transition: $transition_base;
}

// Tamaños
.container {
    max-width: $max_width;
    width: 100%;

    margin: 0 auto;
    box-sizing: border-box;
}


h1,
h2,
h3,
h4 {
    font-family: $ff-hvcn;
    text-transform: uppercase;
}

main {
    padding: 35px 80px;
    @media (max-width: 780px) {
        padding: 35px 10px;
    }
}

iframe {
    width: 100%;
    height: 480px;
}


.popup-cont {
    position: fixed;
    background-color: rgba(black, 0.5);
    z-index: 99999;
    width: 100%;
    height: 100vh;
    // display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    display: none;


    .container {
        background-color: #fff;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        width: fit-content;
        padding: 50px;
        position: relative;
        width: 600px;

        .close {
            position: absolute;
            color: $ligth_grey;
            cursor: pointer;
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            top: 5px;
            right: 5px;
            font-size: 40px;
            font-family: $ff-bd;
            line-height: 1;
            border-radius: 50%;
            transform: rotateZ(45deg);

            &:hover {
                color: $orange;
            }
        }

        .title {
            font-family: $ff-hvcn;
            font-size: 34px;
            margin-bottom: 10px;
            text-transform: uppercase;
            text-align: center;
            line-height: 1;

            span {
                color: $orange;
            }
        }

        .desc {
            font-size: 14px;
            letter-spacing: 1px;
            margin-bottom: 10px;
            max-width: 375px;
            text-align: center;

            span {
                color: $orange;
            }
        }

        .login-form {
            width: 100%;
            margin: 0 auto;

            form {
                width: 100%;
                max-width: 375px;
                margin: 0 auto;

                input {
                    box-sizing: border-box;
                    width: 49%;
                    border: solid thin;
                    border-radius: 3px;
                    height: 35px;
                    margin-top: 10px;
                    max-width: 400px;
                    margin: 0 auto;
                    padding: 0 10px;

                }
            }
        }

        .img-cont {
            padding: 5px;
            border-radius: 3px;

            img {
                margin: 0 auto;
                max-height: 260px;
                margin-bottom: -5px;
            }
        }

        .button {
            font-family: "Helvetica Neue LT Std BdCn";
            color: white;
            background-color: $orange;
            border-radius: 2px;
            padding: 15px 40px;
            padding-top: 20px;
            display: flex;
            text-decoration: none;
            border: 1px solid $orange;
            align-items: center;
            justify-content: center;
            width: fit-content;
            cursor: pointer;
            font-size: 16px;
            line-height: 1;
            text-transform: uppercase;
            margin: 10px auto;
            margin-top: 10px;

            &:hover {
                color: #fff;
                background-color: #C14C00;
                border-color: #C14C00;
            }
        }

        .button_sub {
            font-family: "Helvetica Neue LT Std BdCn";
            color: white;
            background-color: $orange;
            border-radius: 2px;
            padding: 10px 20px;
            padding-top: 15px;
            display: flex;
            text-decoration: none;
            border: 1px solid $orange;
            align-items: center;
            justify-content: center;
            width: fit-content;
            cursor: pointer;
            font-size: 14px;
            line-height: 1;
            text-transform: uppercase;
            margin: 10px auto;
            margin-top: 10px;

            &:hover {
                color: #fff;
                background-color: #C14C00;
                border-color: #C14C00;
            }
        }

        hr {
            width: 100%;
            background-color: $ligth_grey;
            height: 1px;
            border: none;
        }

        .register-link {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            letter-spacing: 1px;
            margin-bottom: 10px;
            max-width: 375px;
            text-align: center;

            .button_sub {
                letter-spacing: normal;
                margin-left: 10px;
                background-color: $orange;
                color: #fff;
                border-color: $orange;
                &:hover {
                    color: #fff;
                    background-color: #C14C00;
                    border-color: #C14C00;
                }
            }
        }
    }
}

// Header
@import "header";

// Footer
@import "footer";

//Patterns
@import "patterns";