//Variables
@import "variables";
@import "fonts";

.password-rules {
    margin-top: 8px;
    font-size: 10px;
}

.password-rules .rule {
    color: #666;
    margin: 0 ;
}

.password-rules .rule.valid {
    color: #2e7d32; /* verde accesible */
}

.password-rules .rule.invalid {
    color: #c62828; /* rojo accesible */
}

.password-status {
    margin-top: 4px;
    font-size: 13px;
}

.password-status.valid {
    color: #2e7d32;
}

.password-status.invalid {
    color: #c62828;
}


.recuperar {
    color: #f96302;

    // margin-left: auto;
    &:hover {
        color: #C14C00;
    }
}

.login-form {
    p {
        margin-bottom: 0;
    }

    input[type="text"],
    input[type="password"],
    input[type="email"] {
        width: 100%;
        padding: 8px;
        margin-top: 5px;
        box-sizing: border-box;
    }

    input[type="checkbox"] {
        margin-right: 5px;
        accent-color: #f96302;

        &:hover {
            accent-color: #f96302;
        }
    }
}

.custom-login-wrapper {
    span {
        color: $orange;
    }

    button {
        font-family: "Helvetica Neue LT Std BdCn";
        color: white;
        background-color: $orange;
        border-radius: 2px;
        padding: 15px 40px;
        padding-top: 20px;
        display: flex;
        text-decoration: none;
        border: 1px solid $orange;
        align-items: center;
        justify-content: center;
        width: fit-content;
        cursor: pointer;
        font-size: 16px;
        line-height: 1;
        text-transform: uppercase;
        margin: 10px auto;
        margin-top: 10px;

        &:hover {
            color: #fff;
            background-color: #C14C00;
            border-color: #C14C00;
        }

        &:disabled{
            background-color: $ligth_grey;
            border-color: $ligth_grey;
        }
    }
}