@import "variables";
@import "fonts";

#map{
    height: 560px;
}
.leaflet-container{

    .search-container{
        background-color: rgba($ligth_grey, 1);
        width: 280px;
        position: absolute;
        top: 100px;
        left: 100px;
        transform: translateX(-90px);
        padding: 10px;
        transition: 0ms;
        border-radius: 4px;
        z-index: 1000;
        @media screen and (max-width: 768px){
            top: 10px;
            left: 50px;
            transform: translateX(0px);

        }
        .search-container-title{
            transition: 0ms;
            display: flex;
            align-items: center;
            .logo{
                width: 50px;
                height: 50px;
                margin-right: 10px;
                transition: 0ms;
            }
            .title{
                transition: 0ms;
                font-size: 24px;
                font-family: $ff-hvcn;
                line-height: 1;
                margin-top: 5px;
                color: #FFF;
            }
        }
        .search-box{
            width: 100%;
            border: none;
            border-radius: 3px;
            height: 39px;
            margin-top: 10px;
            max-width: 400px;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            transition: 0ms;
            padding: 5px;
        }

        .list{
            list-style: none;
            max-height: 280px;
            overflow-y: scroll;
            border: none;
            // display: none;
            padding: 0;
            position: relative;
            margin-bottom: 0;
            li{
                margin: 10px 0px;
                transition: 0ms;
                font-size: 15px;
                padding: 10px;
                border-radius: 4px;
                background-color: white;
                &:hover{
                   background-color: $orange;
                   color: white;
                }
                .li-title{
                    font-size: 20px;
                    line-height: 1;
                    margin-bottom: 4px;
                    display: flex;
                    align-items: center;
                    font-family: $ff-hvcn;
                    img{
                        width: 25px;
                        height: 25px;
                        margin-right: 10px;
                        padding: 1px;
                        background-color: #fff;
                    }
                }
                .small{
                    font-size: 10px;
                    line-height: 1.2;
                    text-align: left;

                }
                cursor: pointer;
                &:first-child{
                    margin-top: 0;
                }
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
    }
}

.leaflet-bottom.leaflet-right{
    display: none !important;
}

.leaflet-marker-icon.leaflet-zoom-animated.leaflet-interactive{
    font-family: $ff-bdcn;
}
.leaflet-popup-close-button{
    span{
        transition: all 300ms;

    }
    &:hover{
        span{
            color: $orange;
        }
    }
}

.vacantes-label{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: $ff-hvcn;
    pointer-events: none;
    .vacantes-number{
        margin-top: 2px;
        pointer-events: none;
    }
}

.leaflet-popup-content-wrapper{
    padding: 0;
    .leaflet-popup-content{
        margin: 0 ;
        padding-bottom: 5px;
        min-width: 260px;
        max-width: 260px;

        .header{
            background-color: $dark_grey;
            color: white;
            padding: 10px;
            font-family: $ff-roman;
            .title{
                font-size: 16px;
                font-family: $ff-hvcn;
                margin-bottom: 5px;
            }
        }

        ul{
            padding: 0px 5px;
            li{
                box-sizing: content-box;
                list-style: none;
                transition: all 300ms;
                background-color: #fff;
                &:nth-child(odd){
                    background-color: rgba($ligth_grey, 0.2);
                }

                a{
                    text-decoration: none;
                    text-transform: capitalize;
                    font-family: $ff-mdcn;
                    letter-spacing: 1px;
                    color: $orange;
                    padding: 5px 10px;
                    display: flex;

                    justify-content: space-between;
                    transition: all 300ms;
                }

                &:hover{

                    a{
                        background-color: $dark_grey;
                        color: white;
                    }

                }
            }
        }

        .load-more{
            appearance: none;
            background-color: $orange;
            color: #fff;
            font-size: 14px;
            border-radius: 4px;
            font-family: $ff-mdcn;
            border: none;
            padding: 5px 10px;
            padding-top: 8px;
            display: block;
            margin: 0 auto;
            cursor: pointer;
        }
    }
}