@import "variables";
@import "fonts";

.leaflet-bottom.leaflet-right{
    display: none !important;
}

.leaflet-marker-icon.leaflet-zoom-animated.leaflet-interactive{
    font-family: $ff-bdcn;
}
.leaflet-popup-close-button{
    span{
        transition: all 300ms;

    }
    &:hover{
        span{
            color: $orange;
        }
    }
}
.leaflet-popup-content-wrapper{
    padding: 0;
    .leaflet-popup-content{
        margin: 0 ;
        padding-bottom: 5px;
        min-width: 260px;
        max-width: 260px;

        .header{
            background-color: $dark_grey;
            color: white;
            padding: 10px;
            font-family: $ff-roman;
            .title{
                font-size: 16px;
                font-family: $ff-hvcn;
                margin-bottom: 5px;
            }
        }

        ul{
            padding: 0px 5px;
            li{
                box-sizing: content-box;
                list-style: none;
                transition: all 300ms;
                background-color: #fff;
                &:nth-child(odd){
                    background-color: rgba($ligth_grey, 0.2);
                }

                a{
                    text-decoration: none;
                    text-transform: capitalize;
                    font-family: $ff-mdcn;
                    letter-spacing: 1px;
                    color: $orange;
                    padding: 5px 10px;
                    display: flex;

                    justify-content: space-between;
                    transition: all 300ms;
                }

                &:hover{

                    a{
                        background-color: $dark_grey;
                        color: white;
                    }

                }
            }
        }

        .load-more{
            appearance: none;
            background-color: $orange;
            color: #fff;
            font-size: 14px;
            border-radius: 4px;
            font-family: $ff-mdcn;
            border: none;
            padding: 5px 10px;
            padding-top: 8px;
            display: block;
            margin: 0 auto;
        }
    }
}