@import "fonts";
@import "variables";

.a-tyc {
    color: #f96302;
}

body.admin-bar {
    --sticky-offset: 32px; // Altura estándar de la barra

    @media (max-width: 782px) {
        --sticky-offset: 46px; // Altura de la barra en móviles
    }
}

.highlight-orange {
    color: $orange;
}

.banner {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0 80px;
    position: relative;
    width: 100%;
    box-sizing: border-box;

    @media (max-width: 780px) {
        padding: 0 10px;
    }


    &:before {
        content: '';
        width: 100%;
        height: 100%;
        background-color: inherit;
        position: absolute;
        top: 0;
        left: 0;
        opacity: .8;
    }

    &.sticky {
        height: unset;
        padding-top: 10px;
        padding-bottom: 10px;
        position: fixed;
        z-index: 10;

        top: calc(var(--sticky-offset, 0) + var(--header-height, 40px));

        box-shadow: 0 0 20px 10px white;

        &:before {
            opacity: 1;
        }

        .container {
            align-items: center;

            .title-cont {
                .term {
                    display: none;

                    a {
                        color: white;
                    }
                }

                .title {
                    font-size: 28px;
                }
            }

            .button {
                margin: 0;
            }
        }
    }

    .container {
        color: white;
        font-family: $ff-blkcn;
        font-size: 60px;
        text-transform: uppercase;
        line-height: 1;
        position: relative;
        z-index: 1;
        display: flex;

        align-items: center;
        justify-content: space-between;

        .title-cont {
            .term {
                font-size: 16px;
                font-family: $ff-roman;
                text-decoration: underline;
                text-transform: capitalize;

                a {
                    color: white;
                }
            }

            .title {
                font-family: $ff-hvcn;
                font-size: 40px;
                margin-top: 10px;
                line-height: 1.1;
                width: 80%;
                transition: none;
            }
        }

        .button {
            font-family: $ff-bdcn;
            color: $orange;
            background-color: #fff;
            border-radius: 2px;
            padding: 13px 20px;
            padding-top: 15px;
            display: flex;
            border: 1px solid #fff;
            text-align: center;
            align-items: center;
            justify-content: center;
            width: fit-content;
            cursor: pointer;
            font-size: 14px;
            line-height: 1;
            text-transform: uppercase;
            margin-top: 50px;

            &:hover {
                color: #fff;
                background-color: #C14C00;
                border-color: #C14C00;
            }


        }
    }
}

.container {
    .desc-video {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin-top: 40px;

        .column {
            width: 50%;

            @media (max-width: 780px) {
                width: 100%;
            }

            .desc {
                padding-right: 20px;
                font-family: $ff-roman;
                font-size: 14px;
                line-height: 1.4;
                font-weight: thin;

                p {
                    margin-top: 0;
                }

                strong {
                    font-family: $ff-hvcn;
                    font-size: 16px;

                }

                ul,
                ol {
                    li {
                        padding: 5px;
                    }
                }
            }

            iframe {
                min-width: 300px;
                max-width: 100%;
            }

            .title_b {
                font-family: $ff-hvcn;
                color: $orange;
                font-size: 24px;
                margin-top: 20px;
            }

            .benefit-item {
                display: flex;
                align-items: center;
                margin: 25px 0;
                font-size: 12px;
                height: 35px;
                line-height: 1;
                justify-content: start;
                text-transform: uppercase;

                img {
                    width: 65px;
                    margin-right: 10px;
                }
            }


        }
    }

}

.form-post {
    display: none;
    opacity: 0;
    transition: all 500ms ease-in;

    &.fade-in {
        opacity: 1;
    }
}

.contenedorgeneralcampos {

    input {
        width: 400px;
        height: 35px;
        padding-left: 10px;
        border: solid 0.5px;
        border-radius: 2px;
    }

    input[type="checkbox"] {
        width: auto;
        height: auto;
        margin: 0;
        margin-right: 5px;
        border: solid 0.5px;
        cursor: pointer;
        accent-color: #f96302;
    }

    input[type="date"] {
        width: 392px;
        height: 38px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 2px;
    }

    input[type="radio"] {
        width: auto;
        height: initial;
        accent-color: #f96302;
    }

    .icon-calendar {
        background-image: url('../imgs/calendario-icon.jpg');
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        right: 20px;
        top: 55%;
        transform: translateY(-50%);
        width: 15px;
        height: 20px;
        pointer-events: none;
        cursor: pointer;
        z-index: 1;
    }

    .custom-date-input {
        position: relative;
    }

    input[type="file"] {
        opacity: 0;
        width: 1270px;
        height: 100px;
        cursor: pointer;
        position: absolute;
    }

    textarea {
        width: 1250px;
        height: 100px;
        border: solid 0.5px;
        border-radius: 2px;
        padding: 10px;

    }

    input[type="checkbox"] {
        width: auto;
        height: auto;
        margin: 0;
        margin-right: 5px;
    }

    input[type="file"] {
        width: 1265px;
        height: 100px;
        background-color: #b2b2b2;

        @media (max-width: 780px) {
            max-width: 100%
        }

    }

    textarea {
        width: 1260px;
        height: 100px;
    }

    select {
        width: 413px;
        height: 38.4px;
        padding-left: 10px;
        border: solid 0.5px;
        border-radius: 2px;
        appearance: none;
        background: url(../imgs/down-arrow.svg) no-repeat right -5px center;
        background-size: 45px 45px; // Ajusta el tamaño del SVG
    }

    label {
        color: black;
        padding-top: 20px;
        padding-bottom: 5px;
    }

    .seccion {
        .titulo {
            font-family: $ff-blkcn;
            color: #f96302;
            margin: 0;
            font-size: 32px;
            padding-top: 50px;
        }

        .titulo.titulo-cv {
            padding-bottom: 20px;
        }

        .subtitulo {
            margin: 0;
        }

        .subtitulo.puesto1 {
            padding-top: 20px;
            font-weight: bold;
        }

        .subtitulo.puesto2 {
            padding-top: 40px;
            font-weight: bold;
        }

        .div-cvguardado {

            padding-bottom: 30px;

            .file-saved {

                a {
                    color: #f96302;
                }
            }
        }
    }

    .campos {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        div {
            display: flex;
            flex-direction: column;
            flex: 0 1 33%;
        }

        &::after {
            content: '';
            flex: 0 1 33%;
        }

        .div-checkbox {
            flex-direction: row;
            flex: 0 1 100%;
            padding-top: 20px;

            label {
                padding-top: 5px;
                padding-bottom: 0px;
            }
        }

        .trabajasaqui {
            margin-top: 30px;
        }

        .div-allarea {
            flex: 0 1 100%;
        }

        .div-cv {
            flex: 0 1 1270px;
            height: 100px;
            background-color: #f8f8f8;
            border: solid 0.5px;
            border-radius: 2px;
            display: flex;
            justify-content: center;
            align-items: center;

            .img-file-icon {
                width: 50px;
            }

            .file-name {
                padding-top: 5px;
            }
        }

        .obligatorio {
            color: red;
        }

        input:disabled {
            background-color: #f0f0f0;
            color: #7d7d7d;
            border-color: #d0d0d0;
            cursor: not-allowed;
        }

        #support-select option[value="Sin Selección"] {
            color: #b2b2b2;
            /* Gris */
        }

        #support-select option:not([value="Sin Selección"]) {
            color: #000;
            /* Negro */
        }

    }
}

.boton-postulacion {
    background-color: #f96302;
    border: 1px solid;
    border-radius: 2px;
    color: white;
    cursor: pointer;
    margin-top: 60px;
    margin-bottom: 30px;
    padding-top: 23px;
    padding-bottom: 18px;
    padding-left: 25px;
    padding-right: 25px;
    font-family: $ff-bdcn;
    font-size: 16px;

    &:hover {
        background-color: #C14C00;
        color: #fff;
        border-color: #C14C00;
    }
}

@media (max-width: 1400px) and (min-width: 501px) {
    .contenedorgeneralcampos textarea {
        width: auto;
    }

    .contenedorgeneralcampos .icon-calendar {
        right: 10px;
    }

    .contenedorgeneralcampos input {
        width: auto;
    }

    .contenedorgeneralcampos .campos div {
        flex: 0 1 49%;
    }

    .divall {
        flex: 0 1 100% !important;

        select {
            width: auto;
        }

        input {
            width: auto;
        }
    }

    .trabajasaqui {
        flex: 0 1 100% !important;

        select {
            width: auto;
        }

        label {
            width: auto !important;
        }

        input {
            width: auto;
        }
    }

    .contenedorgeneralcampos input[type=date] {
        width: auto;
    }

    .requieres {
        width: auto !important;
    }

    .contenedorgeneralcampos select {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .contenedorgeneralcampos textarea {
        width: auto;
    }

    .contenedorgeneralcampos .icon-calendar {
        right: 10px;
    }

    .contenedorgeneralcampos .campos div {
        flex: 0 1 100%;
    }

    .contenedorgeneralcampos input {
        width: auto;
    }

    .contenedorgeneralcampos select {
        width: auto;
    }

    .contenedorgeneralcampos input[type=date] {
        width: auto;
    }

    .requieres {
        width: auto !important;
    }

    .trabajasaqui {
        label {
            width: auto !important;
        }
    }

    .boton-postulacion {
        width: 100%;
    }
}