@import "variables";
@import "fonts";


.header {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0 80px;
    position: relative;
    @media (max-width: 780px) {
       padding: 0 20px;
    }


    &:before {
        content: '';
        width: 100%;
        height: 100%;
        background-color: inherit;
        position: absolute;
        top: 0;
        left: 0;
        opacity: .8;

    }

    .container {
        color: white;
        font-family: $ff-blkcn;
        font-size: 60px;
        text-transform: uppercase;
        line-height: 1;
        position: relative;
        z-index: 10px;
    }
}



.vacantes-cont {
    .container {
        .title {
            font-family: $ff-blkcn;
            text-transform: uppercase;
            font-size: 40px;

            span {
                color: $orange;
            }
        }

        .row {
            display: flex;
            align-items: center;
            justify-content: space-between;
            max-width: 70%;
            padding-right: 20px;
            box-sizing: border-box;
            &.wide-column{
                max-width: 100%;
            }

            @media (max-width: 780px) {
                max-width: 100%;
                padding-right: 0;
            }

            .input-search {
                width: calc(48% - 100px);
                height: 40px;
                font-size: 16px;
                border: 1px solid $dark_grey;
                font-family: $ff-roman;
                border-radius: 0;
                display: flex;
                align-items: center;
                transition: all 300ms;
                margin-top: 15px;
                letter-spacing: 1px;
                position: relative;
                &.wide{
                    width: 48%;

                }
                .disabled{
                    background-color: rgba($ligth_grey, 0.2);
                    cursor: default !important;
                    height: 40px;
                    box-sizing: border-box;
                }

                &.active {
                    border-color: $orange;
                }

                input[type="text"] {
                    appearance: none;
                    // color: $ligth_grey;
                    color: $dark_grey;
                    width: 100%;

                    border: 0;
                    padding: 10px 10px;
                    cursor: pointer;

                    &:focus {
                        outline: none;
                    }

                    &::placeholder {
                        color: $ligth_grey;
                    }
                }

                // &:hover {
                //     border-color: $orange;
                // }

                .suggestions-list {
                    position: absolute;
                    width: calc(100% + 2px);
                    left: -1px;
                    top: 100%;
                    list-style: none;
                    padding: 0;
                    background-color: #fff;
                    display: block;
                    z-index: 1;
                    max-height: 300px;
                    overflow: scroll;
                    &.hidden {
                        display: none;
                    }

                    li {
                        display: flex;
                        align-items: center;
                        justify-content: start;
                        border-bottom: 1px solid $dark_grey;
                        font-size: 12px;
                        background-color: rgba($ligth_grey, 0.1);
                        cursor: pointer;
                        transition: all 300ms;


                        &:hover {
                            background-color: rgba($ligth_grey, 0.3);
                        }

                        label {
                            display: flex;
                            align-items: center;
                            padding: 10px;
                            width: 100%;
                            min-height: 30px;

                            input[type="checkbox"] {
                                display: none;
                            }

                            input[type="checkbox"]:checked+.checkbox {
                                background-color: $orange;
                                border-color: $orange;
                                box-shadow: inset 0 0 0 2px #fff;

                                &:after {
                                    opacity: 1;
                                }
                            }

                            /* Hover en el checkbox */
                            &:hover .checkbox {
                                border-color: $orange;
                            }

                            .checkbox {
                                width: 15px;
                                height: 15px;
                                border: 1px solid $ligth_grey;
                                display: block;
                                position: relative;
                                margin-right: 10px;
                                background-color: #fff;
                                transition: all 300ms;

                                &:after {
                                    content: '';
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    width: 12px;
                                    height: 12px;
                                    background-color: transparent;
                                    transform: translate(-50%, -50%);
                                    transition: background-color 0.3s ease;
                                }
                            }

                            .text {
                                width: calc(90% - 15px);
                            }
                        }
                    }
                }
            }

            input[type="submit"] {
                background-color: $orange;
                appearance: none;
                color: white;
                height: 42px;
                border: 2px solid $orange;
                width: 200px;
                border-radius: 4px;
                text-transform: uppercase;
                font-family: $ff-mdcn;
                line-height: 1.2;
                padding: 10px 10px;
                font-size: 18px;
                margin-top: 15px;
                cursor: pointer;
                transition: all 300ms;

                box-sizing: border-box;

                @media (max-width: 780px) {
                  width: 90%;
                  margin: 0 auto;
                  margin-bottom: 20px;
                }

                &:hover {
                  background-color: #C14C00;
                  color: #fff;
                  border-color: #C14C00;
                }
            }
        }

        .columns {
            display: flex;
            align-items: start;
            justify-content: space-between;

            @media (max-width: 780px) {
                flex-direction: column;
            }

            .column {
                &:first-child {
                    width: 70%;
                    &.wide-column{
                        width: 100%;
                    }
                    @media (max-width: 780px) {
                       width: 100%;
                    }
                }

                &:nth-child(2){
                    width: 30%;
                    @media (max-width: 780px) {
                        width: 100%;
                     }
                }

                .list {
                    padding: 20px;
                    padding-left: 0;
                    margin: 0;

                    @media (max-width: 780px) {
                        padding-right: 0;
                    }

                    .item {
                        list-style: none;
                        &.active{
                            a{
                                // border-color: $orange;
                                .fav {
                                    .img {
                                        svg {
                                            path {
                                                fill: $orange;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        a{
                            border: 1px solid $ligth_grey;
                            padding: 20px;
                            text-decoration: none;
                            display: flex;
                            align-items: center;
                            justify-content: start;
                            margin-bottom: 30px;
                            transition: all 300ms;

                            &:hover{
                                border-color: $orange;
                            }

                            .img {
                                width: 55px;
                                height: 55px;
                                margin-right: 20px;

                                img {
                                    width: 100%;
                                }
                            }

                            .desc {
                                font-family: $ff-bd;
                                color: black;

                                .job-title{
                                    color: $orange;
                                    text-decoration: none;
                                    font-size: 14px;
                                    letter-spacing: 1px;
                                }

                                .icon-cont {
                                    display: flex;
                                    align-items: start;
                                    justify-content: start;
                                    margin-bottom: 0px;

                                    .img {
                                        height: 20px;
                                        width: 10px;
                                        margin-right: 5px;

                                        svg {
                                            width: 10px;
                                            fill: $orange;

                                            path,
                                            circle {
                                                fill: $orange;

                                                &.cls-2,
                                                &.cls-4 {
                                                    fill: white;
                                                }
                                            }
                                        }
                                    }

                                    .text {
                                        font-family: $ff-roman;
                                        font-size: 12px;
                                        text-transform: capitalize;
                                    }
                                }
                            }

                            .fav {
                                margin-left: auto;

                                .img {
                                    margin-left: auto;
                                    margin-right: 0;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;

                                    svg {
                                        height: 35px;
                                        cursor: pointer;

                                        &:hover {
                                            path {
                                                // fill: $orange;
                                            }
                                        }

                                        path {
                                            fill: $ligth_grey;
                                            transition: all 300ms;
                                        }
                                    }



                                }
                            }
                        }

                        &:last-child{
                            a{
                                margin-bottom: 0;
                            }
                        }
                    }

                }

                .saved-jobs {
                    border: 1px solid $ligth_grey;
                    font-size: 12px;
                    padding: 20px;
                    padding-bottom: 35px;
                    margin: 20px 0;
                    position: relative;
                    @media (max-width: 780px) {

                    }

                    &:before {
                        content: '';
                        height: 20px;
                        width: 100%;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        background-color: $orange;
                        display: block;

                    }


                    .title {
                        font-size: 18px;
                        color: $orange;
                        margin-bottom: 10px;
                    }

                    .desc {
                        font-family: $ff-roman;
                    }

                    .button {
                        background-color: $orange;
                        border: 1px solid $orange;
                        color: #fff;
                        font-family: $ff-bd;
                        width: fit-content;
                        padding: 5px 10px;
                        padding-top: 7px;
                        margin: 10px auto;
                        text-transform: uppercase;
                        border-radius: 2px;
                        text-decoration: none;
                        display: block;

                        &:hover {
                            background-color: #C14C00;
                            color: #fff;
                            border-color: #C14C00;
                            cursor: pointer;
                        }
                    }


                }
            }
        }
    }
}